{{ define "script" }}
<script async src="https://cse.google.com/cse.js?cx=458e08bf4d1094c8e">
</script>
{{ end }}

{{ define "main" }}
<div class="page-title-overlap bg-primary py-5">
	<div class="container pt-3 pb-5">
		<div class="block-center">
			{{ partial "meta.breadcrumb.html" . }}
			<h3 class="text-light pt-1">{{ .Title }}</h3>
		</div>
	</div>
</div>
<div class="container py-4 mb-2 mb-md-4">
	<div class="bg-body shadow-lg p-4 mt-n5 mb-4">
		<div class="row gy-3 gx-4 justify-content-between">
			<div class="d-flex align-items-center flex-shrink-0">
				<form action='{{ absLangURL "/search/" }}' method="get" class="input-group">
					<input id="SearchInput" autocomplete="off" class="form-control" name="q"
						placeholder='{{i18n "search"}}' type="text" value="" aria-describedby="searchbutton">

					<button id="searchbutton" class="input-group-text btn btn-primary" aria-label="SearchButton"
						type="submit"><i class="bi bi-search"></i></button>
					</button>
				</form>
			</div>
		</div>
	</div>
	<div class="gcse-searchresults-only"></div>
</div>
{{ end}}