{{ define "script" }}
<script async src="https://cse.google.com/cse.js?cx=458e08bf4d1094c8e"></script>
{{ end }}
{{ define "style" }}
	<style>
		.gcsc-more-maybe-branding-root {
		display: none;
	}
	</style>
{{ end }}
{{ define "main" }}
<div class="bg-accent pt-4 pb-5">
	<div class="container pt-2 pb-3 pt-lg-3 pb-lg-4">
		<h1 class="h3 text-light mb-0">{{ .Title }}</h1>
	</div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
	<div class="bg-light shadow-lg rounded-3 p-4 mt-n5 mb-4">
		<div class="row gy-3 gx-4 justify-content-between">
			<div class="d-flex align-items-center flex-shrink-0">
				<form action="{{ .Site.BaseURL}}search/" method="get" class="input-group">
					<input autocomplete="on" class="search-input form-control rounded-start" name="q"
						placeholder="{{ .Site.Params.searchText }}" type="text" value="">
					<button class="input-group-text btn btn-accent btn-sm"><i class="bi bi-search"></i></button>
				</form>
			</div>
		</div>
	</div>
	<div class="gcse-searchresults-only"></div>
</div>
{{ end}}