:root,
[data-bs-theme=light] {
    --svg-invert: invert(0);
}

[data-bs-theme=dark] {
    --svg-invert: invert(1);
}

[aria-current="true"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: var(--bs-dark);
}

.svg-invert {
    filter: var(--svg-invert);
}

.row-center {
    justify-content: center;
    align-items: center;
}

.block-center {
    display: grid;
    place-items: center;
}

.full-height {
    flex: 1 0 auto;
}

.text-justify {
    text-align: justify;
}

.page-title-overlap {
    padding-bottom: 6.375rem
}

.page-title-overlap+* {
    margin-top: -4.875rem;
}

/* Negative Margins */
.m-n1 {margin: -0.25rem !important}
.m-n2 {margin: -0.5rem !important}
.m-n3 {margin: -1rem !important}
.m-n4 {margin: -1.5rem !important}
.m-n5 {margin: -3rem !important}
.mt-n1 {margin-top: -0.25rem !important}
.mt-n2 {margin-top: -0.5rem !important}
.mt-n3 {margin-top: -1rem !important}
.mt-n4 {margin-top: -1.5rem !important}
.mt-n5 {margin-top: -3rem !important}
.mb-n1 {margin-bottom: -0.25rem !important}
.mb-n2 {margin-bottom: -0.5rem !important}
.mb-n3 {margin-bottom: -1rem !important}
.mb-n4 {margin-bottom: -1.5rem !important}
.mb-n5 {margin-bottom: -3rem !important}


/* #border */
.border {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important
}

.border-0,
.border-none {
    border: 0 !important
}

.border-start,
.border-left {
    border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important
}

.border-start-0,
.border-left-0 {
    border-left: 0 !important
}

.border-end,
.border-right {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important
}

.border-end-0,
.border-right-0 {
    border-right: 0 !important
}

.border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important
}

.border-top-0 {
    border-top: 0 !important
}

.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important
}

.border-bottom-0 {
    border-bottom: 0 !important
}

.border-1 {
    border-width: calc(var(--bs-border-width)*1) !important
}

.border-2 {
    border-width: calc(var(--bs-border-width)*2) !important
}

.border-3 {
    border-width: calc(var(--bs-border-width)*3) !important
}

.border-4 {
    border-width: calc(var(--bs-border-width)*4) !important
}

.border-5 {
    border-width: calc(var(--bs-border-width)*5) !important
}

@media screen and (max-width: 992px) {
    #ai_header .nav-item {
        border-bottom: 1px solid #ebebeb;
    }
}



@media(max-width: 767.98px) {
    .page-title-overlap {
        padding-bottom: 5.5rem
    }
}

.nav-item.active a {
   font-weight: 800;
}

[class*="-only"] {
    display: none;
}

/* Mobile Only */
@media only screen and (max-width: 576px) {
    .mobile-only {
        display: block;
    }

    .mobile-only-flex {
        display: flex;
    }

    .mobile-only-inline {
        display: inline;
    }

    .mobile-only-inline-block {
        display: inline-block;
    }
}

/* Tab Only */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .tab-only {
        display: block;
    }

    .tab-only-flex {
        display: flex;
    }

    .tab-only-inline {
        display: inline;
    }

    .tab-only-inline-block {
        display: inline-block;
    }
    .li-col-2 {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

/* Desktop Only */
@media only screen and (min-width: 992px) {
    .desktop-only {
        display: block;
    }

    .desktop-only-flex {
        display: flex;
    }

    .desktop-only-inline {
        display: inline;
    }

    .desktop-only-inline-block {
        display: inline-block;
    }
    .li-col-2 {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

:root,
[data-bs-theme=light] {
  /* Colors */
  --bd-white: #fff;
  --bd-green-4: #195e44;
  --bd-green-5: #103b2b;
  --bd-merun-5: #3b1010;
  --bd-red-5: #f54e00;
  --yellow4: #ffc628;
  --lemon5: #c6f221;
}

[data-bs-theme=dark] {
  color-scheme: dark;
}

.vh-80 {
  height: 80vh !important
}

/* IMAGES */
img {
  width: 100%;
}

/* BUTTONS */
.btn-round {
  background-color: var(--red5);
  border-radius: 5rem;
  border: 2px solid white;
  color: white;
}

/* BACKGROUNDS */
.bg-green-5 {
  background-color: var(--bd-green-5);
  color: white;
}

.bg-red-5 {
  background-color: var(--bd-red-5);
  color: white;
}

.bg-merun-5 {
  background-color: var(--bd--merun-5);
  color: white;
}

/*  CSS ONLY MENU */
/* .navbar-collapse {
  display: none;
}

#navbar-toggler:checked~.navbar-collapse {
  display: block;
}

.nav-item.dropdown.dropdown-mega .dropdown-menu {
  top: auto;
  left: 10%;
} */



@media screen and (min-width: 768px) {
  .vl {
    border-left: 1px solid #adadad;
    height: 2rem;
    margin: auto;
  }
}

.border-red {
  border: 2px solid var(--bd-red-5) !important
}

.border-green {
  border: 2px solid var(--bd-green-5) !important
}

.border-top-red {
  border-top: 2px solid var(--bd-red-5) !important
}

.border-top-green {
  border-top: 2px solid var(--bd-green-5) !important
}

.border-bottom-red {
  border-bottom: 2px solid var(--bd-red-5) !important
}

.border-bottom-green {
  border-bottom: 2px solid var(--bd-green-5) !important
}

.homepage_links li,
.border-left-green {
  border-left: 5px solid var(--bd-merun-5) !important;
  padding-left: 1rem;
}

.homepage_links li a::after {
  content: '⩥';
}

/*============ Global Menu ================*/
.menu_global li {
  margin-top: 0.8rem;
  font-weight: bold;
}

/* .menu_global {
  position: absolute;
  width: 100vw;
  height: 90vh;
  background: white;
} */

.menu_global li::before {
  content: "● ";
  color: var(--bd-red-5);
  /* background: #103b2b;
  border-radius: 1rem;
  margin-right: 1rem;
  height: 10px;
  display: inline-block; */
}

/* .menu_global a {
  border-bottom: 2px solid #d3d0d0 !important;
} */


.nav-link.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--bd-white);
  background-color: var(--bd-red-5);
}
/*============ PADDINGS ==============*/
.py-10 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

figcaption {
  font-size: small;
  text-align: center;
}

main {
  font-size: 1.2rem;
}



.service-item {
  border-top: 1px solid #F4F4F4;
  border-right: 1px solid #F4F4F4;
  transition: 0.3s;
  position: relative;
  z-index: 10;
}

.service-item .colored-box {
  display: inline-block;
  height: 70px;
  width: 70px;
  line-height: 70px;
  border-radius: 8px;
  color: #51B56D;
  background-color: rgba(81, 181, 109, 0.2);
}

.service-item .service-title {
  transition: color 0.3s;
}

.service-item .block {
  padding: 35px 39px;
}

@media (min-width: 991px) {
  .service-item:nth-child(2), .service-item:nth-child(4) {
    border-left: 1px solid #F4F4F4;
  }
  .service-item:nth-child(4), .service-item:nth-child(5), .service-item:nth-child(6) {
    border-bottom: 1px solid #F4F4F4;
  }
}

@media (max-width: 991px) {
  .service-item:nth-child(2), .service-item:nth-child(3), .service-item:nth-child(5) {
    border-left: 1px solid #F4F4F4;
  }
  .service-item:nth-child(6), .service-item:nth-child(5) {
    border-bottom: 1px solid #F4F4F4;
  }
}

@media (max-width: 767px) {
  .service-item {
    border: 1px solid #F4F4F4;
    border-bottom: 0;
  }
}
.service-item:hover {
  border-color: transparent;
  box-shadow: 0px 25px 65px 0px rgba(0, 0, 0, 0.1) !important;
}

.footnote-ref:before {
  content: '[';
}
.footnote-ref:after {
  content: ']';
}