<nav class="collapse bd-links" id="bd-docs-nav" aria-label="Docs navigation">
    {{ $currentPage := . }}
    {{ range .Site.Menus.discrete }}
    {{- $relLangURL := relLangURL (printf "/discrete-mathematics/%s" .URL) -}}
    {{ if .HasChildren }}
    <details>
        <summary>{{ .Name }}</summary>
        <div class="ms-4 hasChildren">
            <li class="{{ if eq $relLangURL $currentPage.RelPermalink }}active{{ end }}">
                <a href="{{ $relLangURL }}">Chapter Introduction</a>
            </li>
            {{ range .Children }}
            {{- $relLangURL := relLangURL (printf "/discrete-mathematics/%s" .URL) -}}
            {{ if .HasChildren }}
            <details>
                <summary>{{ .Name }}</summary>
                <div class="ms-4 hasChildren">
                    <li {{ if eq $relLangURL $currentPage.RelPermalink }}class="active" {{ end }}>
                        <a href="{{ $relLangURL }}">Chapter Introduction</a>
                    </li>
                    {{ range .Children }}
                    {{- $relLangURL := relLangURL (printf "/discrete-mathematics/%s" .URL) -}}
                    {{ if .HasChildren }}
                    <details>
                        <summary>{{ .Name }}</summary>
                        <ul class="collapse" id="{{.Name | urlize }}-collapse">
                            {{ range .Children }}
                            {{- $relLangURL := relLangURL (printf "/discrete-mathematics/%s" .URL) -}}
                            <li {{ if eq $relLangURL $currentPage.RelPermalink }}class="active" {{ end }}>
                                <a href="{{ $relLangURL }}">{{ .Name }}</a>
                            </li>
                            {{ end}}
                        </ul>
                        <details>
                            {{ else }}
                            <li {{ if eq $relLangURL $currentPage.RelPermalink }}class="active" {{ end }}>
                                <a href="{{ $relLangURL }}">{{ .Name }}</a>
                            </li>
                            {{end}}
                            {{ end}}
                </div>
            </details>
            {{ else }}
            <li {{ if eq $relLangURL $currentPage.RelPermalink }}class="active" {{ end }}>
                <a href="{{ $relLangURL }}">{{ .Name }}</a>
            </li>
            {{end}}
            {{ end }}
        </div>
    </details>
    {{ else }}
    <li {{ if eq $relLangURL $currentPage.RelPermalink }}class="active" {{ end }}>
        <a href="{{ $relLangURL }}">{{ .Name}}</a>
    </li>
    {{ end }}
    {{ end }}
</nav>