{{ $pages := .CurrentSection.Pages.ByParam "unit" }}
{{ $current := . }} <!-- The current page -->

{{/*  <ol>
  {{ range $index, $page := $pages }}
    <li>{{ add $index 1 }}. <a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
  {{ end }}
</ol>  */}}

<div class="d-flex justify-content-between fw-bold" aria-label="Post navigation">
  {{ $currentIndex := -1 }}
  {{ range $index, $page := $pages }}
    {{ if eq $page $current }}
      {{ $currentIndex = $index }}
    {{ end }}
  {{ end }}

  <!-- Prev Link -->
  {{ if gt $currentIndex 0 }}
  {{/*  : {{ $prev.Title }}  */}}
    {{ $prev := index $pages (sub $currentIndex 1) }}
    <a href="{{ $prev.Permalink }}">← Previous</a>
    {{else }}
    <a href="/discrete-mathematics/">Go to Index</a>
  {{ end }}

  <!-- Next Link -->
  {{ if lt $currentIndex (sub (len $pages) 1) }}
  {{/*  : {{ $next.Title }}  */}}
    {{ $next := index $pages (add $currentIndex 1) }}
    <a href="{{ $next.Permalink }}">Next →</a>
    {{else }}
    <a href="/discrete-mathematics/">Go to Index</a>
  {{ end }}
</div>