{{/* TOC */}}
{{ if in .TableOfContents "li" }}
<div id="articleTOC" class="btn-group mb-3 treemenu">
    <button class="btn border" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false"
        aria-expanded="false"><i class="bi bi-list-columns-reverse"></i> Table of Contents</button>
    <div class="dropdown-menu py-3" style="font-size: 1rem; width: 300px;">{{ .TableOfContents }}</div>
</div>
{{ end }}

<aside class="treemenu collapse navbar-collapse py-2 d-lg-block" id="LocalNavigationMenu">
    <div id="readMenu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.discrete }}
        {{- $relLangURL := relLangURL (printf "/discrete-mathematics/%s" .URL) -}}
        {{ if .HasChildren }}
        <details>
            <summary>{{ .Name }}</summary>
            <div class="ms-4 hasChildren">
                <li class="{{ if eq $relLangURL $currentPage.RelPermalink }}active fw-bold{{ end }}">
                    <a href="{{ $relLangURL }}"><i class="bi bi-house-up-fill"></i> Intro </a>
                </li>
                {{ range .Children }}
                {{- $relLangURL := relLangURL (printf "/discrete-mathematics/%s" .URL) -}}
                {{ if .HasChildren }}
                <details>
                    <summary>{{ .Name }}</summary>
                    <div class="ms-4 hasChildren">
                        <li {{ if eq $relLangURL $currentPage.RelPermalink }}class="active fw-bold" {{ end }}>
                            <a href="{{ $relLangURL }}">Chapter Introduction</a>
                        </li>
                        {{ range .Children }}
                        {{- $relLangURL := relLangURL (printf "/discrete-mathematics/%s" .URL) -}}
                        {{ if .HasChildren }}
                        <details>
                            <summary>{{ .Name }}</summary>
                            <ul class="collapse" id="{{.Name | urlize }}-collapse">
                                {{ range .Children }}
                                {{- $relLangURL := relLangURL (printf "/discrete-mathematics/%s" .URL) -}}
                                <li {{ if eq $relLangURL $currentPage.RelPermalink }}class="active fw-bold" {{ end }}>
                                    <a href="{{ $relLangURL }}">{{ .Name }}</a>
                                </li>
                                {{ end}}
                            </ul>
                            <details>
                                {{ else }}
                                <li {{ if eq $relLangURL $currentPage.RelPermalink }}class="active fw-bold" {{ end }}>
                                    <a href="{{ $relLangURL }}">{{ .Name }}</a>
                                </li>
                                {{end}}
                                {{ end}}
                    </div>
                </details>
                {{ else }}
                <li {{ if eq $relLangURL $currentPage.RelPermalink }}class="active fw-bold" {{ end }}>
                    <a href="{{ $relLangURL }}">{{ .Name }}</a>
                </li>
                {{end}}
                {{ end }}
            </div>
        </details>
        {{ else }}
        <li {{ if eq $relLangURL $currentPage.RelPermalink }}class="active fw-bold" {{ end }}>
            <a href="{{ $relLangURL }}">{{ .Name}}</a>
        </li>
        {{ end }}
        {{ end }}
    </div>
</aside>
{{/* {{ .TableOfContents }} */}}
{{/* ▶▷▽⇾⇲⇛⇶↴↩ */}}
{{/* <ul class="list-unstyled ps-0">
    {{ $currentPage := . }}
    {{ range .Site.Menus.discrete }}
    {{- $relLangURL := relLangURL (printf "/discrete-mathematics/%s" .URL) -}}
    {{ if .HasChildren }}
    <li>
        <a class="index rounded border-0" data-bs-toggle="collapse" data-bs-target="#{{.Name | urlize }}-collapse"
            aria-expanded="false" href="{{ $relLangURL }}">{{ .Name
            }}</a>
        <ul class="ms-4 collapse" id="{{.Name | urlize }}-collapse" style="list-style: bengali;">
            {{ range .Children }}
            {{- $relLangURL := relLangURL (printf "/discrete-mathematics/%s" .URL) -}}
            {{ if .HasChildren }}
            <li>
                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#{{.Name | urlize }}-collapse"
                    aria-expanded="false" href="{{ $relLangURL }}">▶ {{ .Name }}</a>
                <ul class="collapse" id="{{.Name | urlize }}-collapse">
                    {{ range .Children }}
                    {{- $relLangURL := relLangURL (printf "/discrete-mathematics/%s" .URL) -}}{{ if .HasChildren }}
                    <li>
                        <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#{{.Name | urlize }}-collapse"
                            aria-expanded="false" href="{{ $relLangURL }}">▶ {{ .Name }}</a>
                        <ul class="collapse" id="{{.Name | urlize }}-collapse">
                            {{ range .Children }}
                            {{- $relLangURL := relLangURL (printf "/discrete-mathematics/%s" .URL) -}}
                            <li><a href="{{ $relLangURL }}">{{ .Name }}</a></li>
                            {{ end}}
                        </ul>
                    </li>
                    {{ else }}
                    <li><a href="{{ $relLangURL }}">{{ .Name }}</a></li>
                    {{end}}
                    {{ end}}
                </ul>
            </li>
            {{ else }}
            <li><a href="{{ $relLangURL }}">{{ .Name }}</a></li>
            {{end}}
            {{ end }}
        </ul>
    </li>
    {{ else }}
    <li> <a class="index index-single btn-nav rounded border-0" href="{{ $relLangURL }}">{{ .Name
            }}</a></li>
    {{ end }}
    {{ end }}
</ul> */}}