<header class="navigation">
  <nav class="navbar navbar-expand-xl navbar-light text-center py-3">
    <div class="container">
      <div class="navbar-brand" id="Logo">
        <div class="b-wiget logo" data-version="2" id="NavLogoImage">
          <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        </div>
      </div>
      <!-- Navbar-Toogler -->
      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <div class="mx-auto mb-2 mb-lg-0" id="NavMenu">
          <ul id="nav" class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">কোর্স</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a href="/search/label/Dicrete%20Mathematics" class="dropdown-item">ডিসক্রিট
                    ম্যাথমেটিক্স</a>
                </li>
                <li class="nav-item">
                  <a href="/search/label/Dicrete%20Mathematics" class="dropdown-item">Bengali
                    Language</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">আরও</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a href="https://lokoja.aishikrehman.com" class="dropdown-item">মৈমনসিংহ লোকজ
                    শব্দকোষ</a>
                </li>
                <li class="nav-item">
                  <a href="https://floarandfaunaofbangladesh.aishikrehman.com" class="dropdown-item">বাংলাদেশের উদ্ভিদ ও
                    প্রাণী</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="-----------------" data-version="1" id="LinkList2">
          <a class="btn btn-outline-primary" data-bs-target="#ContactMe" data-bs-toggle="modal">যোগাযোগ</a>
        </div>
      </div>
    </div>
  </nav>
</header>