@media screen and (max-width: 480px) {
    .navbar-toolbar {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .main-links .nav-item {
        border-bottom: 1px solid #ebebeb;
    }
}

[aria-current="true"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.block-center {
    display: grid; 
    place-items: center;
}