<!DOCTYPE html>
<html lang="{{ .Language.LanguageCode }}" {{ with .Site.Params.defaultColorMode }}data-bs-theme="{{.}}" {{ end }}>

<head>
    {{ partial "meta.data.html" . }}
    {{ partial "head.html" . }}
    {{ block "style" . }}{{ end -}}
</head>

<body>
    {{ partial "header.html" . }}
    <main class="{{.Kind}}" id="{{ path.Base .Permalink}}" style="flex: 1 0 auto;">
        {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
    
    {{- if .Site.Params.userBootstrapBundleJS }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    {{ end -}}

    {{- if .Site.Params.activatejQuery }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {{ end -}}

    {{- if .Site.Params.activateColorModeToogler -}}
    <script src="/js/colormode.js"></script>
    {{ end -}}
    
    {{ block "script" . }}{{ end }}
</body>

</html>