<!DOCTYPE html>
<html lang="{{ .Language.LanguageCode }}">
<head>
    {{ partial "metadata.html" . }}
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/common.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    {{- block "style" . }}{{ end -}}
    {{- block "script" . }}{{ end }}
    {{- template "_internal/google_analytics.html" . }}
</head>
<body>
    {{ partial "header.html" . }}
    <main class="page-wrapper" style="flex: 1 0 auto;" aria-label="Content">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
</body>
</html>