<!DOCTYPE html>
<html lang="{{ .Language.LanguageCode }}" {{ with .Site.Params.defaultColorMode }}data-bs-theme="{{.}}" {{ end }}>

<head>
    {{ partial "metadata.html" . }}
    {{ partial "head.html" . }}
    {{ block "style" . }}{{ end -}}
    {{/* {{- template "_internal/google_analytics.html" . }} */}}
</head>

<body>
    {{ partial "header.html" . }}
    <main class="page-wrapper {{.Kind}}" id="{{ path.Base .Permalink}}">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    {{ if .Site.Params.activatejQuery }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {{ end -}}
    {{ if .Site.Params.activateColorModeToogler -}}
    <script src="/js/colormode.js"></script>
    {{ end }}
    {{ block "script" . }}{{ end }}
</body>

</html>