{{/*  {{ define "head" }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/gsc.css">
{{ end }}  */}}
{{ define "main" }}
<div class="bg-accent pt-4 pb-5">
	<div class="container pt-2 pb-3 pt-lg-3 pb-lg-4">
		<h1 class="h3 text-light mb-0">অনুসন্ধান করুন</h1>
	</div>
</div>
<div class="container mb-2 mb-md-4">
	<div class="bg-light shadow-lg rounded-3 p-4 mt-n5 mb-4">
		{{if isset .Site.Params "gsc" }}<script async src="{{ .Site.Params.gsc }}"></script>{{end}}
		<div class="gcse-search"></div>
	</div>
	<div id="search-results" class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 gy-sm-4 gy-3 pt-sm-3">
	</div>
</div>
{{ end}}