{{ define "main" }}
<div class="page-title-overlap bg-accent py-md-5" itemscope itemtype="https://schema.org/Article">
    <div class="container py-5">
        <div class="py-md-5 d-flex flex-wrap justify-content-center justify-content-lg-between align-items-center">
            <div class="text-center  text-lg-start">
                <div class="mb-2 d-none d-lg-block">{{ partial "meta.breadcrumb.html" . }}</div>
                <h3 class="text-light" itemprop="headline">{{ .Title }}</h3>
                <div class="text-light" itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <i class="bi bi-person-fill-check pe-1"></i>
                    <a class="text-white" itemprop="url" href="{{ if ne .File.Lang .Site.Params.defaultLang }}/{{.File.Lang}}{{ end }}/about/">
                        <span itemprop="name">{{ .Site.Params.author.name }}</span>
                    </a>
                </div>
            </div>
            
            <div class="d-flex mt-5 mt-lg-0">
                <div class="text-sm-end me-5">
                    <div class="text-light fs-base">{{i18n "timetoread"}}</div>
                    <span class="text-light">{{ .ReadingTime }} {{i18n "mintues"}}</span>
                </div>
                {{ with .Params.date }}
                <div class="text-sm-end me-5">
                    <div class="text-light fs-base">{{i18n "pubon"}}</div>
                    <span class="text-light">{{ . | dateFormat "January 02, 2006" }} </span>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<div class="container mb-5 pb-3">
    <div class="bg-light rounded-3 overflow-hidden">
        <div class="row justify-content-center">
            <div class="col-lg-9 px-4 pt-lg-3 pb-3 mb-5">
                <div class="px-lg-3">
                    <div class="p-5" itemprop="articleBody">{{ .Content }}</div>
                    <div class="d-flex flex-wrap justify-content-between pt-2 pb-4 mb-1">
                        <div class="mt-3 me-3">
                            {{ if isset .Params "tags" }}
                            <div class="fs-sm text-muted pe-2 mb-2">{{ range .Params.tags }}<a class="btn-tag me-2 mb-2"
                                    href="/tags/{{ . | urlize }}">#{{ . }}</a>{{ end }}
                            </div>
                            {{ end }}
                        </div>
                        <div class="mt-3">
                            {{ partial "sharethis.html" . }}
                        </div>
                    </div>
                    <nav class="entry-navigation" aria-label="Post navigation">
                        {{ if .Prev }}<a class="entry-navigation-link" href="{{ .Prev.Permalink }}">« {{i18n "prevpost"}}<span
                                class="d-none"> {{.Prev.Title}}</span></a>{{ end }}
                        <a class="entry-navigation-link" href="/posts/">{{i18n "allposts"}}</a>
                        {{ if .Next }}<a class="entry-navigation-link" href="{{ .Next.Permalink }}">{{i18n "nextpost"}} »<span
                                class="d-none"> {{.Next.Title}}</span></a>{{ end }}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}