{{ define "main" }}
<article id="article" class="container" itemscope itemtype="https://schema.org/Article">
  {{/* Article MetaData */}}
  <div id="articleSchema" class="mt-5">
    <div id="articleBraedcrumb">{{ partial "meta.breadcrumb.html" . }}</div>
    <h3 id="articleTitle" itemprop="headline">{{ .Title }}</h3>
    <div id="articleAuthor" itemprop="author" itemscope itemtype="https://schema.org/Person">
      <i class="bi bi-person-fill-check pe-1"></i>
      <a itemprop="url"  href="{{ if ne .Page.Language.Lang .Site.Params.defaultLang }}/{{.Page.Language.Lang}}{{ end }}/about/">
        <span itemprop="name">{{ .Site.Params.author.name }}</span>
      </a>
    </div>
    <span id="articleTags" class="d-block">
      {{ if isset .Params "tags" }}
      <i class="bi bi-tag-fill pe-1"></i>
      {{ range $index, $tag := .Params.tags }}
      {{ if $index }}▪{{ end }}
      <a class="fs-6" href="{{ absLangURL "/tags/" }}{{ $tag | urlize }}">{{ $tag }}</a>{{- end -}}
      {{ end }}
    </span>
    <span id="articleReadingTime" class="fs-6">
      <i class="bi bi-alarm-fill pe-2"></i>{{i18n "timetoread"}}: {{ .ReadingTime }} {{i18n "mintues"}}
    </span>
    {{ with .Params.date }}
    <span id="articlePublicationDate" class="fs-6 ms-3">
      <i class="bi bi-calendar-week-fill pe-2"></i>{{i18n "pubon"}}:
      {{ . | dateFormat "January 02, 2006" }}</span>
    {{end}}
  </div>
  <hr>
  <div id="articleGrid" class="row g-5 my-3">
    {{/* Article Body */}}
    <div id="articleContent" class="col-md-8 text-justify">
      <div id="articleBody" itemprop="articleBody">{{.Content}}</div>
      <div id="articleShare" class="border-top border-bottom py-2">
        {{/* <h4>শেয়ার করুন</h4> */}}
        {{ partial "posts.share.html" . }}
      </div>
      <div id="articleNavigation" class="mt-5">{{ partial "posts.navigation.html" . }}</div>
    </div>
    {{/* Right Sidebar */}}
    <div id="articleSidebar" class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        {{/* relatedPosts */}}
        <span class="d-block my-3"></span>
        {{ partial "widget.relatedPosts.html" . }}
        {{/* recentPosts */}}
        <span class="d-block my-3"></span>
        {{ partial "widget.recentPosts.html" . }}
        {{/* <div id="articleArchive">
          <h4>সংগ্রহশালা</h4>
          <ol class="list-unstyled">
            <li><a href="#">March 2021</a></li>
            <li><a href="#">February 2021</a></li>
            <li><a href="#">January 2021</a></li>
            <li><a href="#">December 2020</a></li>
            <li><a href="#">November 2020</a></li>
            <li><a href="#">October 2020</a></li>
            <li><a href="#">September 2020</a></li>
            <li><a href="#">August 2020</a></li>
            <li><a href="#">July 2020</a></li>
            <li><a href="#">June 2020</a></li>
            <li><a href="#">May 2020</a></li>
            <li><a href="#">April 2020</a></li>
          </ol>
        </div> */}}
        <hr class="py-3">
        {{/*  All Tags  */}}
        {{ partial "widget.allTags.html" . }}
      </div>
    </div>
  </div>
</article>
{{ end }}