{{ define "main" }}
<div class="page-title-overlap bg-primary py-md-5" itemscope itemtype="https://schema.org/Article">
    <div class="container py-5">
        <div class="py-md-5 row">
            <div class="col-12 col-md-8 text-center text-md-start">
                <div class="mb-2 d-none d-lg-block">{{ partial "meta.breadcrumb.html" . }}</div>
                <h3 class="text-light" itemprop="headline">{{ .Title }}</h3>
                <div class="text-light" itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <i class="bi bi-person-fill-check pe-1"></i>
                    <a class="text-white" itemprop="url"
                        href="{{ if ne .File.Lang .Site.Params.defaultLang }}/{{.File.Lang}}{{ end }}/about/">
                        <span itemprop="name">{{ .Site.Params.author.name }}</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-5 mt-md-0">
                <div class="d-flex justify-content-evenly text-light">
                    <div class="text-center text-sm-end">
                        <div>{{i18n "timetoread"}}</div>
                        <span>{{ .ReadingTime }} {{i18n "mintues"}}</span>
                    </div>
                    {{ with .Params.date }}
                    <div class="text-sm-end">
                        <div>{{i18n "pubon"}}</div>
                        <span>{{ . | dateFormat "January 02, 2006" }} </span>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5 pb-3">
    <div class="bg-body overflow-hidden rounded-4">
        <div class="row justify-content-center">
            <div class="px-4 px-lg-5 py-lg-5 mb-5">
                <div class="px-lg-3">
                    <div class="p-5" itemprop="articleBody">{{ .Content }}</div>
                    <div class="d-flex justify-content-between pt-2 pb-4 mb-1">
                        <div class="mt-3 me-3">
                            {{ if isset .Params "tags" }}
                            <div class="fs-6 pe-2 mb-2">
                                {{ range .Params.tags }}<a class="btn btn-outline-secondary me-2 mb-2 me-2 mb-2"
                                    href='{{absLangURL "/tags/"}}{{ . | urlize }}'>#{{ .}}</a>
                                {{ end }}
                            </div>
                            {{ end }}
                        </div>
                        <div class="mt-3 mt-sm-0">
                            {{ partial "posts.share.html" . }}
                        </div>
                    </div>
                   {{ partial "posts.navigation.html" . }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}