{{ define "script" }}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "itemListElement": [
        {{ if not (eq (len $.Data.Terms) 0) }}
        {{ range $index, $page := .Data.Terms.Alphabetical }}
        {{- if $index -}},{{- end -}}
        {
          "@type": "ListItem",
          "position": {{ add $index 1 }},
          "url": "{{absLangURL .Page.Title}}/"
        }
        {{ end}}
        {{ end }}
      ]
    }
</script>
{{ end }}
{{ define "main" }}
<div class="bg-primary text-light py-5">
    <div class="container d-lg-flex justify-content-between  py-2 py-lg-4">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            {{ partial "meta.breadcrumb.html" . }}
        </div>
        <div class="order-lg-1">
            <h1 class="h3 mb-0 text-light">{{.Title }}</h1>
            {{ with .Params.description }}
            <p class="mt-3">{{.}}</p>
            {{ end }}
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gy-3 mt-5">
        {{ range .Data.Terms.Alphabetical }}
        <a class="col" href="{{ .Page.Title | urlize }}">
            <div class="card position-relative h-100">
                <div class="card-body p-3">
                    <div class="ps-3">
                        <span class="d-blcok h6">{{ .Page.Title | humanize }}</span>
                        <p class="fs-ms text-muted mb-0">{{ .Count }}</p>
                    </div>
                </div>
            </div>
        </a>
        {{ end }}
    </div>
</div>
{{ end }}