/*--------------- Common CSS--------------------*/
body {
    background-color: #fff;
    color: #6c6c6c;
    line-height: 1.7;
    font-family: "Kalpurush", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-weight: 400;
    overflow-x: hidden;
}

.blogposts .content {
    text-align: justify;
    font-family: Kalpurush;
    line-height: 1.7;
    font-size: 1.2rem;
}

/*--------------Headings---------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #040404;
    font-family: "Kalpurush", sans-serif;
    font-weight: 700;
}

h1,
.h1 {
    font-size: 44px;
}

@media (max-width: 767px) {

    h1,
    .h1 {
        font-size: 38px;
    }
}

h2,
.h2 {
    font-size: 36px;
}

@media (max-width: 767px) {

    h2,
    .h2 {
        font-size: 30px;
    }
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 22px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 14px;
}

/*----------------Button style-----------------------*/
.btn {
    font-size: 15px;
    text-transform: capitalize;
    padding: 13px 28px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    font-weight: 500;
    transition: .2s ease;
    overflow: hidden;
    border: 0;
}

.btn::after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: #3c8d53;
    top: 100%;
    left: 60%;
    z-index: -1;
    border-radius: 50%;
    transition: 0.3s;
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.btn-sm {
    padding: 13px 25px;
}

.btn.w-100::after,
.btn.d-block::after,
.btn.d-flex::after,
.btn.effect-none::after {
    display: none;
}

.btn:hover,
.btn:active,
.btn.active,
.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: none !important;
    text-decoration: none;
}

.btn:hover::after,
.btn:active::after,
.btn.active::after,
.btn:focus::after,
.btn.focus::after {
    top: -75px;
    left: -55px;
    height: 300px;
    width: 300px;
    transition: 0.4s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.btn-primary {
    background: #51B56D;
    color: #e0f2e5;
    border-color: #51B56D;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary.focus {
    background: #51B56D !important;
    color: #fff;
}

.btn-primary.w-100:hover,
.btn-primary.d-block:hover,
.btn-primary.d-flex:hover,
.btn-primary.effect-none:hover {
    background-color: #3f9457 !important;
}

.btn-outline-primary {
    background: #e0f2e5;
    color: #51B56D;
}

.btn-outline-primary::after {
    background-color: #3c8d53;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary:focus,
.btn-outline-primary.focus {
    background: #3c8d53;
    color: #fff;
}

.btn-outline-primary.w-100:hover,
.btn-outline-primary.d-block:hover,
.btn-outline-primary.d-flex:hover,
.btn-outline-primary.effect-none:hover {
    background: #e0f2e5;
}

.nav-pills .nav-link:hover {
    color: #3f9457 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #51B56D;
}

/*--------------- Others/Utils/Acc ----------------*/
::-moz-selection {
    background: #51B56D;
    color: #e0f2e5;
}

::selection {
    background: #51B56D;
    color: #e0f2e5;
}

img {
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
}

a,
a:hover,
a:focus {
    text-decoration: none !important;
}

a,
button,
select {
    cursor: pointer;
    transition: .2s ease;
}

a:focus,
button:focus,
select:focus {
    outline: 0;
}

a {
    color: #51B56D;
}

a:hover {
    color: #51B56D;
    text-decoration: underline;
}

.slick-slide {
    outline: 0;
}

.section {
    padding-top: 100px;
    padding-bottom: 80px;
}

.section-sm {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-title {
    margin-bottom: 30px;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.outline-0 {
    outline: 0 !important;
}

.text-primary {
    color: #51B56D !important;
}

.text-black {
    color: #040404 !important;
}

.text-black a:hover,
a.text-black:hover {
    color: #51B56D !important;
}

.text-default {
    color: #888888 !important;
}

.rounded {
    border-radius: 8px !important;
}

.rounded-lg {
    border-radius: 15px !important;
}

.content * {
    word-break: break-word;
    overflow-wrap: break-word;
}

.content img {
    max-width: 100%;
}

.content h1,
.content .h1,
.content h2,
.content .h2,
.content h3,
.content .h3,
.content h4,
.content .h4,
.content h5,
.content .h5,
.content h6,
.content .h6 {
    font-weight: 700;
    color: #233242;
}

.content strong {
    font-weight: 800;
}

.content a {
    border-bottom: 1px dotted #51B56D;
}

.content a:hover {
    color: #51B56D;
    border-bottom: 1px solid #51B56D;
}

.content ol,
.content ul {
    margin-bottom: 25px;
    padding-left: 0;
    list-style-position: inside;
}

.content ol li,
.content ul li {
    margin-bottom: 10px;
}

.content ul {
    margin-bottom: 20px;
    list-style-type: none;
}

.content ul li {
    padding-left: 0;
    position: relative;
}

.content ul li::before {
    margin-right: 10px;
    font-size: 13px;
}

.content p {
    margin-bottom: 16px;
}

.content h1,
.content .h1,
.content h2,
.content .h2,
.content h3,
.content .h3,
.content h4,
.content .h4,
.content h5,
.content .h5,
.content h6,
.content .h6 {
    color: #233242;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 700;
}

.content blockquote {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px 20px;
}

.content blockquote p {
    margin-bottom: 0;
}

.content blockquote p cite {
    display: inline-block;
    margin-top: 10px;
}

.content table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}

.content table td,
.content table th {
    padding: .6rem 1rem;
    vertical-align: top;
    margin-bottom: 0;
    border: 1px solid #e0e0e0;
}

.content tr:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
}

.content th {
    font-weight: 500;
}

.content thead {
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
}

.content thead tr {
    border-bottom: 1px solid #e0e0e0;
}

.content tbody {
    margin-bottom: 0;
}

.content .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    padding-top: 30px;
    z-index: 1;
}

.content .notices::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content .notices.note::before {
    background-color: #6ab0de;
}

.content .notices.tip::before {
    background-color: #78C578;
}

.content .notices.info::before {
    background-color: #F0B37E;
}

.content .notices.warning::before {
    background-color: #E06F6C;
}

.content .notices p {
    padding: 10px;
    margin-bottom: 0;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.content .notices p::after {
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
}

.content .notices.note p::after {
    content: 'Note';
}

.content .notices.tip p::after {
    content: 'Tip';
}

.content .notices.info p::after {
    content: 'Info';
}

.content .notices.warning p::after {
    content: 'Warning';
}

.content pre {
    display: block;
    padding: 10px 15px;
    margin: 10px 0px 10px;
    white-space: pre-wrap;
}

.content code {
    margin-bottom: 0 !important;
    font-size: 100%;
}

.content hr {
    margin: 30px 0;
}

.content.check-list ul li::before {
    content: "\f00c";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    background-color: transparent;
    height: unset;
    width: unset;
    color: #51B56D;
    top: 0;
    left: 0;
}

.accordion-button {
    padding: 0.8rem 1.25rem;
}

.accordion-button:focus {
    border-color: #dfdfdf;
    box-shadow: none;
}

.code-tabs {
    overflow: hidden;
    margin-bottom: 20px;
}

.code-tabs .nav-tabs {
    margin-bottom: 0;
    border-bottom: 0;
}

.code-tabs .nav-item {
    padding-left: 0;
}

.code-tabs .nav-item.active .nav-link {
    color: #fff;
}

.code-tabs .nav-item.active .nav-link {
    background: #51B56D;
}

.code-tabs .nav-item .nav-link {
    text-decoration: none;
    font-weight: 500;
    border: 0;
    border-radius: 8px;
    text-transform: capitalize;
    color: #51B56D;
}

.code-tabs .tab-content {
    padding: 20px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.card-img {
    position: relative;
    overflow: hidden;
}

.card-social {
    margin-bottom: 0;
    background-color: #fff;
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    display: inline-block;
    padding: 12px 15px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -100px;
    transition: .2s ease;
    white-space: nowrap;
}

.card-social a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    background-color: #fff;
    color: #233242;
    border: 1px solid #ddd;
    display: block;
    border-radius: 6px;
    font-size: 15px;
}

.card-social a:hover {
    color: #51B56D;
}

.card:hover .card-social {
    bottom: 20px;
}

.notices p i {
    position: absolute;
    top: 7px;
    left: 10px;
    color: #fff;
}

.check-list ul li::before {
    content: "\f054";
}

.content ul:not(.nav) li {
    padding-left: 20px;
    position: relative;
}

.content ul:not(.nav) li::before {
    content: "\f192";
    position: absolute;
    left: 0;
    top: 2px;
    color: #51B56D;
}

.notices p::before {
    content: "\f05a";
    position: absolute;
    top: 2px;
    left: 9px;
    color: #fff;
}

/*-------------Header and Naviagtions---------------*/
.navbar-brand {
    font-family: "Rubik", sans-serif;
    font-size: 30px;
}

@media (min-width: 1199px) {
    .navigation .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        min-width: 200px;
        transition: 0.2s;
        left: 50%;
        border-radius: 8px;
        -webkit-transform: translate(-50%, 10px) scaleX(1.2);
        transform: translate(-50%, 10px) scaleX(1.2);
        -webkit-transform-origin: top;
        transform-origin: top;
    }

    .navigation .dropdown-menu li {
        opacity: 0;
        transition: 0.3s;
        transition-delay: .1s;
    }

    .navigation .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        box-shadow: 0 10px 30px rgba(22, 28, 45, 0.1);
        -webkit-transform: translate(-50%, -6px) scale(1);
        transform: translate(-50%, -6px) scale(1);
    }

    .navigation .dropdown:hover .dropdown-menu li {
        opacity: 1;
    }
}

.navigation .dropdown-menu {
    border: 0;
    padding: 12px 20px;
}

@media (max-width: 991px) {
    .navigation .dropdown-menu {
        text-align: center;
        border: 1px solid rgba(81, 181, 109, 0.2);
    }
}

.navigation .dropdown-item {
    padding: 6px 0;
    font-weight: 500;
}

.navigation .dropdown-item.active,
.navigation .dropdown-item:active {
    color: #51B56D;
    background-color: transparent;
}

.navigation .dropdown-item:focus,
.navigation .dropdown-item:hover {
    color: #51B56D;
    background-color: transparent;
}

.navigation .nav-item {
    margin: 0;
}

@media (min-width: 1199px) {
    .navigation .nav-item.dropdown .nav-link {
        margin-right: 16px;
    }
}

.navigation .nav-item.dropdown .nav-link::after {
    right: 0;
    top: calc(50% - 6px);
    display: inline-block;
    vertical-align: .255em;
    content: "";
    height: 8px;
    width: 8px;
    border: 2px solid;
    border-left: 0;
    border-top: 0;
    border-color: inherit;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: 0s;
}

@media (min-width: 1199px) {
    .navigation .nav-item.dropdown .nav-link::after {
        position: absolute;
    }
}

.navigation .nav-item .nav-link {
    font-weight: 800;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
}

.navigation .nav-item .nav-link select {
    font-weight: 800;
    font-size: 15px;
}

@media (max-width: 1200px) {
    .navigation .nav-item .nav-link {
        padding: 10px 0 !important;
    }
}

@media (min-width: 1200px) {
    .navigation .nav-item .nav-link::before {
        position: absolute;
        content: "";
        bottom: 10px;
        left: 15px;
        width: calc(100% - 30px);
        height: 2px;
        z-index: -1;
        background-color: #51B56D;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: 0.25s;
    }
}

.navigation .nav-item:hover .nav-link {
    text-decoration: none;
    color: #51B56D !important;
}

.navigation .nav-item:hover .nav-link::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navigation .navbar-light .navbar-nav .nav-link {
    color: #040404;
}

@media (max-width: 1200px) {

    .navbar-nav,
    .dropdown-menu,
    .dropdown-item {
        text-align: left;
        padding-left: 20px;
    }

    a#navbarDropdown {
        display: flex;
        justify-content: space-between;
    }
}

.navigation .navbar-light .navbar-nav .nav-link:hover {
    color: #51B56D;
}

.navigation .navbar-light .navbar-nav .active .nav-link {
    color: #51B56D;
}

.navigation .navbar-light .navbar-nav .active .nav-link::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navigation .navbar-expand-xl .navbar-nav .nav-link {
    padding: 15px;
}

/* ---------------- PostBox Section ---------------*/
.postbox {
    border-top: 1px solid #F4F4F4;
    border-right: 1px solid #F4F4F4;
    transition: 0.3s;
    position: relative;
    z-index: 10;
}

.postbox .service-title {
    display: grid;
    transition: color 0.3s;
}

.postbox .service-description {
    color: #888888;
}

.postbox a:hover .service-title {
    color: #51B56D;
}

.postbox a:hover .service-description {
    color: #888888;
}

.postbox .block {
    padding: 35px 39px;
}

#Blogs {
    min-height: 80vh;
}

#Blogs .postbox:nth-child(4),
#Blogs .postbox:nth-child(7) {
    flex: 50%;
}

@media (min-width: 991px) {

    .postbox:nth-child(2),
    .postbox:nth-child(4) {
        border-left: 1px solid #F4F4F4;
    }

    .postbox:nth-child(4),
    .postbox:nth-child(5),
    .postbox:nth-child(6) {
        border-bottom: 1px solid #F4F4F4;
    }
}

@media (max-width: 991px) {

    .postbox:nth-child(2),
    .postbox:nth-child(3),
    .postbox:nth-child(5) {
        border-left: 1px solid #F4F4F4;
    }

    .postbox:nth-child(6),
    .postbox:nth-child(5) {
        border-bottom: 1px solid #F4F4F4;
    }
}

@media (max-width: 767px) {
    .postbox {
        border: 1px solid #F4F4F4;
        border-bottom: 0;
    }
}

.postbox:hover {
    border-color: transparent;
}

/* ---------------- About Section ---------------*/
.about-section {
    z-index: 5;
}

.homepage_tab {
    z-index: 5;
}

@media (max-width: 767px) {
    .homepage_tab {
        overflow: hidden;
    }
}

.homepage_tab .payment_info_tab .active {
    color: #fff !important;
}

.homepage_tab .content-block,
.homepage_tab .image-block {
    opacity: 0;
    transition: 0.3s;
    position: relative;
}

.homepage_tab .content-block {
    left: -25px;
}

.homepage_tab .image-block {
    right: -25px;
}

.homepage_tab .show .content-block,
.homepage_tab .show .image-block {
    opacity: 1;
}

.homepage_tab .show .content-block {
    left: 0;
}

.homepage_tab .show .image-block {
    right: 0;
}

.homepage_tab>.container {
    position: relative;
    z-index: 10;
}

.homepage_tab>.container::after {
    position: absolute;
    content: "";
    height: 65%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FBFBFB;
    z-index: -2;
    border-radius: 18px;
}

.page-header {
    position: relative;
    overflow: hidden;
    padding: 80px 0;
    z-index: 5;
}

.page-header .breadcrumbs,
.page-header .breadcrumbs a {
    color: #111;
}

.page-header .breadcrumbs a:hover {
    color: #51B56D;
}

.page-header .breadcrumbs li:last-child a {
    pointer-events: none;
    opacity: .6;
}

.core-value .shape-1 {
    right: -14px;
    top: -25px;
}

.core-value .shape-2 {
    left: -30px;
    bottom: -20px;
}

.icon-box-item {
    z-index: 3;
}

.icon-box-item .block {
    padding: 35px 27px;
    box-shadow: 0px 25px 65px 0px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.icon-box-item .icon {
    display: inline-block;
    height: 90px;
    width: 90px;
    line-height: 90px;
    font-size: 32px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    background-color: #51B56D;
}

.icon-lg {
    height: unset !important;
    width: unset !important;
    line-height: 1 !important;
}

.icon-lg i {
    font-size: 40px;
}

.rounded-number {
    font-size: 24px !important;
    height: 70px !important;
    width: 70px !important;
    border-radius: 8px !important;
    font-weight: 800;
    line-height: 70px !important;
}

.form-control::-webkit-input-placeholder {
    opacity: .5;
}

.form-control::-moz-placeholder {
    opacity: .5;
}

.form-control::-ms-input-placeholder {
    opacity: .5;
}

.form-control::placeholder {
    opacity: .5;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #fff;
    cursor: no-drop;
}

.form-control:not(textarea) {
    height: 55px;
}

textarea.form-control {
    height: 140px;
    max-height: 200px;
}

.form-control:focus {
    border-color: #51B56D;
}

.form-group {
    position: relative;
    margin-top: 8px;
}

.form-group label {
    position: absolute;
    background-color: #fff;
    top: -13px;
    left: 12px;
    padding: 0 9px;
}

.contact-info {
    padding-left: 50px;
}

@media (max-width: 991px) {
    .contact-info {
        padding-left: 0;
    }
}

.contact-info .block .icon {
    margin-right: 15px;
    font-size: 18px;
    line-height: 0;
    position: relative;
    top: 5px;
}

.contact-info .block .social-links li {
    margin-right: 15px;
}

.contact-info .block .social-links a {
    font-size: 22px;
}

.newsletter-form {
    margin-top: -35px;
}

@media (max-width: 991px) {
    .newsletter-form {
        margin-top: 0;
    }
}

.newsletter-form input,
.newsletter-form .input-group-text {
    border-color: rgba(81, 181, 109, 0.4) !important;
}

.newsletter-form input {
    border-radius: 8px;
    padding: 0 15px;
}

.newsletter-form .input-group-text {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.newsletter-form button {
    color: #fff;
    border-radius: 0px;
    padding: 19px;
}

.footer-widget ul li a {
    color: #000;
}

.footer-widget ul li a:hover {
    color: #51B56D;
    text-decoration: underline !important;
}

.social-icons a {
    display: inline-block;
    height: 45px;
    width: 45px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#TableOfContents ul {
    margin-bottom: 0;
    margin-top: 15px;
}

#TableOfContents ul ul {
    margin-top: 0;
}

#TableOfContents a {
    display: block;
    padding: 8px 0;
    color: #040404;
    font-weight: 400;
    transition: .2s ease;
}

#TableOfContents a.active {
    color: #51B56D;
}

#TableOfContents ul {
    padding-left: 0;
}

#TableOfContents ul li {
    list-style-type: none;
    padding-left: 20px;
    position: relative;
    color: #040404;
}

#TableOfContents ul li::before {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #51B56D;
    left: 3px;
    top: 15px;
}

.has-line-end {
    display: inline-block;
    position: relative;
}

.has-line-end::before {
    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    height: 1px;
    width: 30px;
    background-color: #233242;
}

.teams .position-relative {
    z-index: 1;
}

.post-slider {
    overflow: hidden;
}

.post-slider:hover .prevArrow {
    left: 30px;
}

.post-slider:hover .nextArrow {
    right: 30px;
}

.image-fallback {
    position: relative;
    font-size: 0;
}

.image-fallback span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.image-fallback span::first-letter {
    font-size: 72px;
    color: #000;
}

.slider-sm .slick-arrow {
    height: 35px;
    width: 35px;
    line-height: 35px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: rgba(81, 181, 109, 0.5);
    color: #fff;
    border: 0;
}

@media (max-width: 575px) {
    .slick-arrow {
        display: none;
    }
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow:hover {
    background: #51B56D;
}

.prevArrow {
    left: -60px;
}

.nextArrow {
    right: -60px;
}

.pagination .page-item .page-link {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 8px;
    background: transparent;
    text-align: center;
    padding: 0;
    margin-right: 10px;
    border: 1px solid #51B56D;
    color: #51B56D;
}

.pagination .page-item .page-link:hover {
    background: #51B56D;
    color: #fff;
    border-color: #51B56D;
    text-decoration: none;
}

.pagination .page-item .page-link:focus {
    box-shadow: none;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border-radius: 8px;
}

.pagination .page-item.active .page-link {
    background: #51B56D;
    color: #fff;
    border-color: #51B56D;
}

.modal-dialog {
    max-width: 550px;
}

.ContactMeModal .modal-content {
    padding: 10px;
}

#Blog2 .section .col-lg-4:nth-child(1) {
    background: #f8f8f8;
}

#Blog1 .section .col-lg-4:nth-child(1) {
    background: #f8f8f8;
}


.share-button {
    background-color: #b1b1b1;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10;
    color: #fff
}

.share-button:hover {
    color: #e0f2e5
}

/*Section Quotes*/
.carousel-indicators {
    position: relative !important;
}

.carousel-indicators>li {
    background-color: #3c8d53 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
}