@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;400;700&display=swap');

.top-bar {
    width: 100%;
    height: 5px;
    background: #5869DA;
}

.navbar {
    width: 100%;
    z-index: 9999;
    padding: 30px 0;
}

.font-weight-500 {
    font-weight: 500;
}

.navbar li {
    position: relative;
}

.navbar li.dropdown-submenu {
    position: relative;
}

.bg-light {
    background-color: transparent !important
}


*:focus {
    outline: none;
}

button,
button:focus {
    outline: none;
}

a {
    transition: .5s;
    text-decoration: none;
    outline: 0;
}

a:hover {
    text-decoration: none
}

a.has-underline {
    position: relative;
}

a.has-underline::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #a7d0d0;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.font-small {
    font-size: 14px;
}

.navbar-nav a {
    color: #091E42 !important;
}

.navbar-nav a:hover {
    color: #456BED !important;
}

.vertical-line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}

.navbar-nav .nav-item .nav-link {
    font-weight: 700;
    font-size: 16px;
}

.footer-content .default-btn {
    font-size: 14px;
}

.navbar .default-btn {
    margin-left: 30px;
}

.default-btn i {
    margin-right: 2px
}

.font-weight-900 {
    font-weight: 900;
}

.hero-content h1 {
    font-size: 50px;
}

.hero-content span {
    font-family: ff-more-web-pro, georgia, serif;
    font-weight: 300;
    font-style: italic;
}

.hero-content p {
    color: #64738c;
}

.main-banner {
    padding: 80px 0 80px 0;
}

.box-shadow {
    background: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}

.quick-features {
    margin-top: -113px;
    position: relative;
    z-index: 2;
}

.main-banner h1 {
    margin: 0;
}

.main-banner h1.text-large {
    font-size: 3.2rem;
}

.main-banner p.text-large {
    font-size: 1.4rem;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1
}

.d-table {
    height: 100%;
    width: 100%
}

.d-table-cell {
    vertical-align: middle
}

.main-banner-content {
    text-align: center;
    margin-top: 70px
}

.main-banner-content h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: 700;
    line-height: 70px
}

.main-banner-content h3 {
    margin-bottom: 20px;
    font-size: 22px
}

.main-banner-content h3 a {
    color: #456BED
}

img {
    max-width: 100%
}

.navbar.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, .1);
    -webkit-animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
    animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
    margin: 0 !important;
    background: #101325;
}

.border-radius-15 {
    border-radius: 15px;
}

.border-radius-10 {
    border-radius: 10px;
}

.demo-area .container-fluid {
    padding-left: 45px;
    padding-right: 45px
}

.single-demo {
    text-align: center;
    position: relative;
    transition: .5s;
    margin-bottom: 30px
}

.single-demo:hover {
    transform: translateY(-10px)
}

.single-demo .image {
    box-shadow: 0 22px 70px rgba(0, 0, 0, .13);
    position: relative
}

.single-demo .image::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity .5s cubic-bezier(.77, 0, .175, 1);
    -moz-transition: opacity .5s cubic-bezier(.77, 0, .175, 1);
    transition: opacity .5s cubic-bezier(.77, 0, .175, 1);
    opacity: 0;
    background: #fdbac7;
    pointer-events: none
}

.single-demo:hover .image::before {
    opacity: 1
}

.single-demo .content {
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    background-image: url("../imgs/demo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    box-sizing: border-box;
    transform-origin: left;
    pointer-events: none;
    z-index: 100;
    -webkit-transition: all .5s cubic-bezier(.77, 0, .175, 1);
    -moz-transition: all .5s cubic-bezier(.77, 0, .175, 1);
    transition: all .5s cubic-bezier(.77, 0, .175, 1);
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    transform: scale(1, 0)
}

.single-features i {
    font-size: 3rem;
    line-height: 1;
    color: #091E42;
}

.single-demo:hover .content {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1)
}

.single-demo .content .text {
    margin: 0;
    top: 50%;
    display: inline-block;
    left: 50%;
    position: absolute;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.single-demo .content .text h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    opacity: 0;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.63, .07, .04, .95) .1s, opacity .2s .1s;
    transition: transform .6s cubic-bezier(.63, .07, .04, .95) .1s, opacity .2s .1s
}

.single-demo:hover .content .text h3 {
    margin: 0;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0)
}

.single-demo:hover .content-two {
    bottom: 25px;
    opacity: 0;
    visibility: hidden
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
    margin-top: -6px
}

.section-title h2 {
    text-transform: capitalize;
    font-weight: 700;
    max-width: 620px;
    font-size: 40px;
    margin: 0 auto
}

.section-title-bg {
    color: #f0f0f0;
    font-size: 80px;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    opacity: .6;
    text-transform: uppercase;
    right: 0;
    transform: translateY(-50%)
}

.section-title-bg.color-1 {
    color: #f9d9d9;
}

.section-title-bg.color-2 {
    color: #e2f9d9;
}

.section-title-bg.color-3 {
    color: #d9dcf9;
}

.section-title-bg.color-4 {
    color: #f7f9d9;
}

.section-title ul {
    padding: 0;
    margin: 15px 0 0;
    list-style-type: none
}

.section-title ul li {
    display: inline-block;
    position: relative;
    margin: 0 15px;
    color: #456BED;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px
}

.section-title ul li::before {
    content: '';
    position: absolute;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    background: #456BED;
    width: 8px;
    height: 8px;
    border-radius: 50%
}

.section-title ul li:first-child::before {
    display: none
}

.single-features {
    border-radius: 10px;
    text-align: center;
    background: #fff;
    margin-bottom: 40px;
    padding: 37px 15px 40px;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.single-features:hover {
    background: #fff;
}

.single-features h3 {
    margin-bottom: 0;
    font-size: 20px;
    margin-top: 25px;
    text-transform: capitalize
}

.footer-area {
    background-image: url(../imgs/footer-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0 45px
}

.footer-content {
    text-align: center;
    margin: 0 auto;
    max-width: 910px
}

.footer-content h1 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 30px
}

.footer-content p {
    margin: 0 auto 35px;
    max-width: 585px;
    line-height: 1.8;
    color: #fff
}

.footer-content .copyright {
    margin-top: 55px
}

.footer-content .copyright span {
    color: #fff;
    display: block;
    margin-top: 20px;
    letter-spacing: 1px
}

.you-may-also-like {
    padding: 100px 0
}

.you-may-also-like .section-title {
    text-align: left;
    margin-left: 0;
    margin-right: 0
}

.you-may-also-like .section-title h2 {
    margin-left: 0;
    margin-right: 0
}

.single-slide-demo .img {
    position: relative;
    overflow: hidden
}

.single-slide-demo .img img {
    -ms-transition: .4s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s
}

.single-slide-demo .img::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    -ms-transition: .4s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s
}

.single-slide-demo .content {
    background: #fdf8f8;
    padding: 20px
}

.single-slide-demo .content h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    line-height: 28px
}

.single-slide-demo .content h3 a {
    text-decoration: none;
    color: #000
}

.single-slide-demo .content h3 a:hover {
    color: #38d16a
}

.link-btn {
    position: absolute;
    top: 37%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    transform: scale(0);
    -ms-transition: .4s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s
}

.link-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 60px;
    display: inline-block;
    height: 60px;
    line-height: 60px
}

.link-btn a:hover {
    background: #fff;
    color: #38d16a
}

.single-slide-demo:hover .img img {
    transform: scale(1.3)
}

.single-slide-demo:hover .img::before {
    opacity: .77
}

.single-slide-demo:hover .link-btn {
    transform: scale(1)
}

.owl-theme .owl-nav {
    margin-top: 0;
    line-height: .01;
    position: absolute;
    right: 15%;
    top: -135px
}

.like-slides.owl-theme .owl-nav [class*=owl-] {
    margin: 0 5px;
    background: #f5f5f5;
    color: #000;
    padding: 0 !important;
    width: 55px;
    height: 55px;
    font-size: 25px;
    line-height: 59px;
    -ms-transition: .4s;
    outline: 0;
    border-radius: 50%;
    box-shadow: unset;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s
}

.like-slides.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #38d16a;
    color: #fff
}

.navbar-icon {
    position: relative;
    width: 20px;
    height: 2px;
    background: #091E42;
    display: block;
    border-radius: 3px;
}

.navbar-icon::before,
.navbar-icon::after {
    content: "";
    background: #091E42;
    width: 25px;
    height: 2px;
    position: absolute;
    top: -7px;
    left: 0;
    border-radius: 8px;
}

.navbar-icon::after {
    bottom: -7px;
    top: unset;
}

/*BORDER RADIUS DECLARE*/
.border-radius-2 {
    border-radius: 2px;
    overflow: hidden;
}

.border-radius-5 {
    border-radius: 5px;
    overflow: hidden;
}

.border-radius-10 {
    border-radius: 10px;
    overflow: hidden;
}

.border-radius-15 {
    border-radius: 15px;
    overflow: hidden;
}

.border-radius-20 {
    border-radius: 20px;
    overflow: hidden;
}

/*Featured prodcut section*/
.bg-1 {
    background: #ebeff8;
}

.bg-2 {
    background: #f0e7eb;
}

.bg-3 {
    background: #d7e8dd;
}

.bg-4 {
    background: #ebeff8;
}

.thm-product-inner.theme_listing_item {
    background: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(9, 30, 66, 0.15);
    border-radius: 6px;
    margin-bottom: 50px;
    position: relative;
    transition: all 300ms;
    overflow: hidden;
}

.theme-item-thumbnail::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(37, 42, 51, 0.7);
    opacity: 0;
    transition: opacity 300ms;
}

.theme_listing_item:hover .theme-item-thumbnail::before {
    opacity: 1;
}

.theme_listing_item .thm-preview-btn-group {
    position: absolute;
    top: 50%;
    margin-top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.4s;
}

.theme_listing_item:hover .thm-preview-btn-group {
    opacity: 1;
}

.theme_listing_item .thm-preview-btn-group {
    text-align: center;
}

.theme_listing_item .thm-preview-btn-group>div:first-child {
    margin-bottom: 20px;
}

.theme_listing_item .thm-preview-btn-group a.default-btn {
    width: 160px;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    transition: all 400ms;
}

.btn-outlined.btn-inverse {
    color: #fff;
    border: 1px solid #FFFFFF;
    transition: all 400ms;
}

.thm-product-inner:hover,
.single-features:hover {
    transform: translate(0, -3px);
    -webkit-transform: translate(0, -3px);
    transition: all 400ms;
}

.theme_listing_item .default-btn:hover,
.theme_listing_item .btn-outlined:hover {
    color: #456BED;
    box-shadow: 0 6px 12px -3px rgba(9, 30, 66, .4);
    transform: translate(0, -3px);
    -webkit-transform: translate(0, -3px);
    transition: all 400ms;
}

.btn-outlined {
    background: none;
    text-shadow: 0 0.5px 0.3px rgba(0, 0, 0, .1);
    padding: 10px 20px;
    position: relative;
    border-radius: 50px;
    font-weight: 500;
    width: 160px;
    line-height: 1;
}

.btn-outlined.btn-inverse {
    color: #fff;
    border: 1px solid #FFFFFF;
    transition: all 400ms;
}

.btn-outlined:after {
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    z-index: -1;
    border-radius: 100px;
    opacity: 0;
    transition: 400ms;
}

.btn-outlined.btn-inverse::after {
    background-image: linear-gradient(180deg, #FFFFFF 0%, rgb(206, 208, 213) 100%);
}

.btn-outlined:hover:after {
    opacity: 1;
}

.theme-item-thumbnail img {
    width: 100%;
    height: 100%;
}

.theme-product-data {
    padding: 30px 25px;
    position: relative;
}

.theme-product-data-2 {
    padding: 15px;
    position: relative;
}

.theme-data-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    position: relative;
}

.theme-data-title-2 {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
    position: relative;
}

.theme-data-subtitle {
    font-size: 14px;
    color: #6B788E;
    display: block;
}

.theme-data-title a,
.theme-data-title-2 a {
    color: #091E42;
    transition: 400ms;
    position: relative;
}

.theme-badge {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 14px;
    color: #9FA6B6;
    text-transform: capitalize;
}

.theme-badge i {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    color: #fff;
    margin-right: 8px;
    font-weight: 600;
}

.theme-badge.theme-badge-hot i {
    background: #DD3E3E;
}

.theme-badge.theme-badge-new i {
    background: #27ce28;
}

.theme-badge.theme-badge-sale i {
    background: #02afff;
}

.theme-product-content {
    position: relative;
    margin: 20px 0 0;
}

.theme-data-tag {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.theme-data-tag li {
    font-size: 12px;
    color: #9FA6B6;
    display: inline-block;
    letter-spacing: 1.5px;
    line-height: 22px;
    text-transform: capitalize;
    position: relative;
}

.theme-data-tag li:not(:last-child) {
    padding-right: 8px;
    margin-right: 10px;
}

.theme-data-tag li:not(:last-child)::after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 2px;
    background: #D8D8D8;
    border-radius: 2px;
    top: 50%;
    right: -1px;
}

.theme_listing_item .theme-price {
    line-height: 1;
}

.theme_listing_item .theme-price a.get-now {
    color: #fff;
    text-shadow: 0 0.5px 0.3px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px -1px rgba(143, 154, 174, 0.6);
    float: right;
    padding: 8px 14px;
    border-radius: 20px;
    background: #456BED;
    margin-top: -9px;
}

footer .nav-footer {
    padding: 0;
    margin: 0;
}

footer .nav-footer li {
    list-style-type: none;
    margin: 0;
}

footer .nav-footer li+li {
    margin-top: 16px;
}

footer .nav-footer li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #464f71;
}

footer .nav-footer li:hover a {
    padding-left: 4px;
    transition-duration: 0.4s;
    color: #456BED !important;
}

footer div.divider {
    margin: 5px;
    border-top: 1px solid #e8e8e8;
    width: 80%;
}

div.divider-1 {
    border-top: 1px solid #f1f1f1;
    width: 100%;
}

.page-content {
    max-width: 780px;
    margin: 0 auto;
}

/* Search Box */

.form{
    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
}
/* Post Hero Section */
.post-hero {
    background: #b4b4b4;
    background-repeat: no-repeat;
    background-size: cover;
}
.post-hero .wrapper {
    background-color: rgb(255 255 255 / 72%);
    height: 100%;
}
.post img {
    width: 100%;
}
/* Carousel Button */
.carousel-indicators {
    position: relative;
}
.carousel-indicators>li {
    background-color:#e91e63 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
}




/*=================================================================*/
/*                      POST                              
/*=================================================================*/
.post .post-format-sm {
    color: #FFF;
    display: block;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    line-height: 34px;
    left: 20px;
    text-align: center;
    top: 20px;
    position: absolute;
    width: 30px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    background: #FE4F70;
    background: -webkit-linear-gradient(bottom, #FE4F70 0%, #FFA387 100%);
    background: linear-gradient(to top, #FE4F70 0%, #FFA387 100%);
    z-index: 1;
  }
  .post .thumb {
    position: relative;
    height: 210px; width: 100%;
    background-size: cover;
  }
  .post .thumb.rounded .inner {
    border-radius: 10px;
    overflow: hidden;
  }
  .post .thumb img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .post .thumb:hover img {
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
  }
  .post .post-title a {
    color: #203656;
  }
  .post .post-title a:hover {
    color: #FE4F70;
  }
  .post .excerpt {
    font-size: 16px;
  }
  .post .meta {
    font-size: 14px;
    color: #9faabb;
  }
  .post .meta a {
    color: #9faabb;
    font-weight: 400;
  }
  .post .meta a:hover {
    color: #FE4F70;
  }
  .post .meta li:last-child:after {
    content: "";
    display: none;
  }
  .post .meta li:after {
    content: "";
    display: inline-block;
    background-color: #FE4F70;
    border-radius: 50%;
    margin-left: 1rem;
    height: 3px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    width: 3px;
  }
  .post .meta li:not(:last-child) {
    margin-right: 0.8rem;
  }
  .post .meta li img.author {
    margin-right: 12px;
    vertical-align: middle;
  }
  .social-share .toggle-button {
    font-size: 16px;
    color: #9faabb;
    background-color: transparent;
    border: 0;
    padding: 0;
    vertical-align: middle;
  }
  .social-share .icons {
    display: inline;
    vertical-align: middle;
  }
  .social-share .icons li a {
    color: #9faabb;
    font-size: 14px;
  }
  .social-share .icons li a:hover {
    color: #203656;
  }
  .social-share .icons li:not(:last-child) {
    margin-right: 0.8rem;
  }
  .post.post-list {
    margin-bottom: 30px;
  }
  .post.post-list .thumb {
    float: left;
    max-width: 265px;
  }
  .post.post-list .details {
    margin-left: 295px;
  }
  .post.post-list .post-title {
    margin: 9px 0;
  }
  .post.post-list .post-bottom {
    margin-top: 9px;
  }

  .post.post-list .post-bottom .social-share .icons:before {
    content: "";
    background: #DDD;
    display: inline-block;
    height: 1px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    width: 30px;
  }
  .post.post-list:after {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    background: #EBEBEB;
    background: -webkit-linear-gradient(right, #EBEBEB 0%, transparent 100%);
    background: linear-gradient(to left, #EBEBEB 0%, transparent 100%);
  }
  

  @media only screen and (min-width: 992px) {
  }
  @media only screen and (max-width: 767px) {
  
    .post.post-list .thumb {
      float: none;
      max-width: 550px;
    }
  
    .post.post-list .details {
      margin-left: 0;
      margin-top: 25px;
    }
  
    .post .meta li:after {
      content: "";
      margin-left: 0.5rem;
    }
  
    .post .meta li:not(:last-child) {
      margin-right: 0.3rem;
    }
  }
