<div class="collapse menu_global border-top" id="GlobalMenu">
    <div class="container">
        <div class="row py-3 py-md-5">
            <div class="col-md-8">
                <h4 class="mb-2">সংযোগ</h4>
                <ul class="list-unstyled li-col-2">
                    {{ range .Site.Menus.global }}
                    <li>
                        <a href="{{absLangURL .URL}}">{{ .Name }}</a>
                        {{ with .Params.label}}
                        <span class="d-block fs-6 ps-3">{{.}}...</span>
                        {{ end}}
                    </li>
                    {{ end}}
                </ul>
            </div>

            <div class="col-md-4">
                {{/*  <h4 class="mb-2">সংযোগ</h4>  */}}
                <ul class="list-unstyled">
                    {{ range .Site.Menus.globallinks }}
                    <li>
                        <a href="{{absLangURL .URL}}">{{ .Name }}</a>
                        {{ with .Params.label}}
                        <span class="d-block fs-6 ps-3">{{.}}...</span>
                        {{ end}}
                    </li>
                    {{ end}}
                </ul>
            </div>
        </div>
    </div>
</div>