{{ define "main" }}
<div class="page-title-overlap bg-accent pt-4">
    <div class="container py-5">
        <div
            class="py-5 d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
            <div class="ps-3">
                {{ partial "seo.breadcrumb.html" . }}
                <h3 class="text-light">{{ .Title }}</h3>
                <span class="d-block text-light">---Written by {{ .Site.Params.author.name }}</span>
            </div>
            <div class="d-flex">
                <div class="text-sm-end me-5">
                    <div class="text-light fs-base">{{i18n "timetoread"}}</div>
                    <h5 class="text-light">{{ .ReadingTime }} {{i18n "mintues"}} </h5>
                </div>
                {{ with .Params.date }}
                <div class="text-sm-end me-5">
                    <div class="text-light fs-base">{{i18n "pubon"}}</div>
                    <h5 class="text-light">{{ . | dateFormat "02 January 2006" }} </h5>
                </div>
                {{ end }}


            </div>
        </div>
    </div>
</div>
<div class="container mb-5 pb-3">
    <div class="bg-light rounded-3 overflow-hidden">
        <div class="row justify-content-center">
            <div class="col-lg-9 px-4 pt-lg-3 pb-3 mb-5">
                <div class="px-lg-3">
                    <div class="p-5">{{ .Content }}</div>
                    <div class="d-flex flex-wrap justify-content-between pt-2 pb-4 mb-1">
                        <div class="mt-3 me-3">
                            {{ if isset .Params "tags" }}
                            <div class="fs-sm text-muted pe-2 mb-2">{{ range .Params.tags }}<a class="btn-tag me-2 mb-2"
                                    href="/tags/{{ . | urlize }}">#{{ . }}</a>{{ end }}
                            </div>
                            {{ end }}
                        </div>
                        <div class="mt-3">
                            {{ partial "sharethis.html" . }}
                        </div>
                    </div>
                    <nav class="entry-navigation" aria-label="Post navigation">
                        {{ if .Prev }}<a class="entry-navigation-link" href="{{ .Prev.Permalink }}">« Prev post<span
                                class="d-none"> {{.Prev.Title}}</span></a>{{ end }}
                        <a class="entry-navigation-link" href="/blogs/">All posts</a>
                        {{ if .Next }}<a class="entry-navigation-link" href="{{ .Next.Permalink }}">Next post »<span
                                class="d-none"> {{.Next.Title}}</span></a>{{ end }}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}