<aside class="docs-sidebar">
  <nav class="collapse docs-links py-md-4" id="docs-docs-nav" aria-label="Docs navigation">
    <div class="py-5">
      <div class="mb-4 text-center text-lg-start">
        <a class="flex-shrink-0 mb-lg-3 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Aishik_Rehman_abayab.svg" width="200"
            height="200" alt="Aishik Rehman" class="bd-booticon d-block mx-auto mb-3 mx-lg-0">
        </a>
        <div class="ms-3 ms-lg-0">
          <h1 class="mb-1 mb-lg-2 f1 fw-600">Aishik <br>Rehman</h1>
          <p class="col-sm-8 col-lg-12 mx-auto mb-0 mb-lg-4">Wikimedian and Lexicolgist and CSEr.
          </p>
        </div>
      </div>
      <hr>
      <div class="justify-content-center d-flex flex-lg-column justify-content-lg-start gap-1 flex-wrap sidebar-nav">
        <a class="ms-0" href="/">--Home--</a>
        <a class="ms-0" href="/about/">About Me</a>
        <a class="ms-0" href="/posts/">All posts</a>
        <a class="ms-0" href="/blog/">Blogs and Articles</a>
        <a class="ms-0" href="/docs/">Docs and Gits</a>
        <a class="ms-0" href="/papers/">Papers</a>
        
      </div>
    </div>
  </nav>
</aside>