<div class="main-banner">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-5 col-md-12">
                <div style="font-family: Kalpurush;" class=" pt-50 carousel slide" data-bs-interval="5000"
                    data-bs-ride="carousel" id="QuoteCarousel">
                    <div class="carousel-inner" style="min-height: 250px;">
                        {% for quote in site.data.quotes %}
                        <div
                            class="{% if forloop.first %}carousel-item p-5 active {% else %}carousel-item p-5{% endif %}">
                            <h2 class="font-weight-900 mb-50 mb-4">{{ quote.q }}
                            </h2>
                            <h5>- ঐশিক রেহমান</h5>
                        </div>
                        {%- endfor -%}
                    </div>
                    <div class="carousel-indicators">
                        {% for quote in site.data.quotes %}
                        <li data-bs-slide-to="{{ forloop.index0 }}" data-bs-target="#QuoteCarousel" type="button"
                            class="{% if forloop.first %}active{% endif %}"></li>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 text-end d-none d-md-block">
                <img class=" d-inline" style="height: 400px;"
                    src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Aishik_Rehman_abayab.svg"
                    alt="{{site.author.name}}">
            </div>
        </div>
    </div>
</div>