<aside class="docs-sidebar my-md-4">
    <nav class="collapse docs-links" id="docs-docs-nav" aria-label="Docs navigation">
      <ul class="list-unstyled mb-0 py-3 pt-md-1">
        {% for unit in site.data.co_bengali %}
        <li class="mb-1">
          <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse" data-bs-target='#{{ unit.unit | replace: " ", "-"}}-{{ forloop.index }}' aria-expanded="false" aria-current="false">{{ unit.unit }}</button>
          <div class="collapse" id='{{ unit.unit | replace: " ", "-"}}-{{ forloop.index }}'>
            <ul class="list-unstyled fw-normal pb-1 small">
              {% for lesson in unit.lessons %}
              <li>
                <a href="{{ lesson.url }}" class="d-inline-flex align-items-center rounded" {% if page.url contains lesson.url %} aria-current="page"{% endif %}>{{ lesson.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endfor %}
        <li class="my-3 mx-4 border-top"></li>
        <li>
          <a href="#" class="d-inline-flex align-items-center rounded">Migration
          </a>
        </li>
      </ul>
    </nav>
  </aside>
