<footer class="footer border-top">
	<div class="container pt-5">
		<div class="row pb-2">
			<div class="col-md-6 text-center text-md-start mb-4">
				<a class="h5 mb-4" href='{{absLangURL "/"}}'>{{.Site.Title}}</a>
				{{/* <ul class="list-inline fs-sm">
					<li class="list-inline-item"><a href="#">Contact Me</a></li>
					<li class="list-inline-item"><a href="#">About Me</a></li>
				</ul> */}}
			</div>
			<div class="col-md-6 text-center text-md-end mb-4">
				<div class="social-links">
					{{ range $name, $value := .Site.Params.author.social }}
					<a class="btn-social me-2 mt-2" href="{{ $value }}" aria-label="Fine me at {{ $name }}"><i class="bi bi-{{ $name }}"></i></a>
					{{ end }}
				</div>
			</div>
		</div>
		{{ with .GitInfo }}<p class="fs-xs text-muted">The page is last edited on
			{{ .AuthorDate.Format "2006-01-02T15:04:05-07:00" }} by {{ .AuthorName }}
			</p>{{ end }}
		<div class="pb-4 fs-sm text-center text-md-start">{{i18n "allrights"}} <br> {{i18n "copyright"}}
		</div>
	</div>
</footer>