<footer class="footer bg-darker mt-5 pt-5">
  <div class="container">
    <div class="row pb-2">
      <div class="col-md-6 text-center text-md-start mb-4">
        <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 me-3" href="#"><img class="d-block"
              src="img/footer-logo-light.png" width="117" alt="Cartzilla"></a>
        </div>
        <div class="widget widget-links widget-light">
          <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
            <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Outlets</a></li>
            <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Affiliates</a></li>
            <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Support</a></li>
            <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Privacy</a></li>
            <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Terms of use</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 text-center text-md-end mb-4">
        <div class="mb-3"><a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#"><i class="ci-twitter"></i></a><a
            class="btn-social bs-light bs-facebook ms-2 mb-2" href="#"><i class="ci-facebook"></i></a><a
            class="btn-social bs-light bs-instagram ms-2 mb-2" href="#"><i class="ci-instagram"></i></a><a
            class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#"><i class="ci-pinterest"></i></a><a
            class="btn-social bs-light bs-youtube ms-2 mb-2" href="#"><i class="ci-youtube"></i></a></div><img
          class="d-inline-block" src="img/cards-alt.png" width="187" alt="Payment methods">
      </div>
    </div>
    <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© All rights reserved. Made by <a
        class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a></div>
  </div>
</footer>
{{/*
<!-- Plugin: search -->
<script type="text/javascript">
  { { if .Site.IsMultiLingual } }
  var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
  { { else } }
  var baseurl = "{{.Site.BaseURL}}";
  { { end } }
</script>
*/}}