<header class="bg-light border-bottom">
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand me-4" href='{{ absLangURL "" }}'>
                <div class="navbar-tool-text ms-n3 d-block position-relative">
                    <span class="h5 fw-bold">{{ .Site.Title }}</span>
                    <span class="d-block ">{{ .Site.Params.subtitle }}</span>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {{- if not (in .RelPermalink "/search/") -}}
                <div class="me-auto px-3 py-3 py-lg-0">
                    <form action='{{ absLangURL "/search/"}}' method="get" class="input-group">
                        <input autocomplete="off" class="search-input form-control" style="border-radius: 0px;" name="q"
                            placeholder="{{ .Site.Params.searchText }}" type="text" value="" aria-label="Search">
                        <button id="SearchButton" class="input-group-text btn btn-accent btn-sm" style="border-radius: 0px;"><i
                                class="bi bi-search"></i></button>
                    </form>
                </div>
                {{ end }}
                <ul class="navbar-nav main-links ms-md-auto">
                    {{- $currentPage := . }}
                    {{- range .Site.Menus.main }}
                    {{- $relLangURL := relLangURL .URL }}
                    <li class="nav-item {{ if eq $relLangURL $currentPage.RelPermalink }}active{{ end }}">
                        <a class="nav-link" href='{{ $relLangURL }}'>{{ .Name }}</a>
                    </li>
                    {{- end }}
                    <li class="nav-item dropdown border bg-secondary">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-translate"></i> {{.Language.LanguageName }}
                        </a>
                        <ul class="dropdown-menu">
                            {{- $currentlang := .Site.Language.Lang }}
                            {{ range .Site.Languages }}
                            <li>
                                <a class="dropdown-item{{ if eq .Lang $currentlang }} active{{ end }}"
                                    href="/{{ .Lang }}/">{{ .LanguageName }}</a>
                                </li>
                            {{ end }}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>