<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ partial "meta.title.html" .}}</title>
<meta name="description" content='{{ partial "meta.description.html" .}}'>
<meta name="google-site-verification" content="0J8IfuFx-q_dRuc9I1q0tcVBKAMOTAN3gr27m5OwKzQ" />

<meta property="og:title" content='{{ partial "meta.title.html" .}}'>
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:locale" content="{{ .Language.LanguageCode }}">
<meta property="og:description" content='{{ partial "meta.description.html" .}}'>

{{- if eq .Type "posts" }}
<meta property="og:type" content='article'>
<meta property="article:author" content="{{ with .Params.author }}{{.}}{{ else }}{{ .Site.Params.author.name }}{{ end }}">
{{ with .Params.date -}}
<meta property="article:published_time" content="{{ . }}">{{ end }}
{{ with .Params.tags -}}{{ range . }}
<meta property="article:tag" content="{{ . }}">{{ end }}{{ end }}
<meta property="article:section" content="{{ .Parent.Title }}">
{{ else }}
<meta property="og:type" content='website'>
{{- end -}}

{{- with .Params.img }}
<meta property="og:image" content='{{ partial "meta.img.html" . }}'>
<meta property="og:image:secure_url" content='{{ partial "meta.img.html" . }}'>
<meta property="og:image:width" content="" />
<meta property="og:image:height" content="" />
<meta property="og:image:type" content="" />
<meta property="og:image:alt" content="" />
{{- end }}

<meta name="fb:app_id" content="">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ .Site.Title }}">
<meta name="twitter:creator" content="@RehmanAishik">
<meta name="twitter:title" content='{{ partial "meta.title.html" .}}'>
<meta name="twitter:description" content='{{ partial "meta.description.html" .}}'>
<meta name="twitter:image" content='{{ partial "meta.img.html" . }}'>