<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    {{- $i := 1 }}
    {{- range $index, $value := .Ancestors.Reverse }}
    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="{{ .RelPermalink }}">
            <span itemprop="name"> {{- if .IsHome }}{{ i18n "home" }}{{- else -}}{{ .Title }}{{ end -}}
            </span>
        </a>
        <meta itemprop="position" content='{{ $i }}' />
    </li>
    {{ $i = add $i 1 }}
    {{- end }}
    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a aria-current="true" itemprop="item" href="{{ .RelPermalink }}">
            <span itemprop="name">{{.Title}}</span>
        </a>
        <meta itemprop="position" content='{{ $i }}' />
    </li>
</ol>