<li class="nav-item">
    <a class="nav-link" href="/about/">About Me</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/docs/">Docs</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/blogs/">Blogs</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/tags/">Tags</a>
</li>
{{/*  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
        data-bs-auto-close="outside">নোটবই</a>
    <ul class="dropdown-menu">
        <li class="dropdown">
            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">প্রাথমিক</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/textbooks/c1">১ম শ্রেণি</a></li>
                <li><a class="dropdown-item" href="/textbooks/c2">২য় শ্রেণি</a></li>
            </ul>
        </li>
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/textbooks">সবগুলো একসঙ্গে</a></li>
    </ul>
</li>  */}}