<div class="share-this-post">
    <label class="me-2">{{i18n "sharethispost"}}:</label>
    <a class="me-2" href="https://www.facebook.com/sharer.php?u={{ .Permalink }}"
        rel="nofollow noopener noreferrer" target="_blank" title="Facebook Share">
        <i class="bi-facebook"></i>
    </a>
    <a class="me-2" href="https://twitter.com/intent/tweet?url={{ .Permalink }}"
        rel="nofollow noopener noreferrer" target="_blank" title="Tweet This">
        <i class="bi-twitter"></i>
    </a>
    <a class="me-2"
        href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}" rel="nofollow noopener noreferrer"
        target="_blank" title="Linkedin Share"><i class="bi-linkedin"></i></a>
</div>