{{- /* JSON-LDS */ -}}
<script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "{{ .Site.Title }}",
      "alternateName" : {{ .Site.Params.siteNames}},
      "url" : "{{ .Site.Params.siteURL }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "{{ .Site.Params.siteURL }}search?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }
    }
</script>