<div class="share-this-post">
    <label class="form-label d-inline-block align-middle my-2 me-3">শেয়ার:</label>
    <a class="btn-share btn-facebook me-2 my-2" href="https://www.facebook.com/sharer.php?u={{ .Permalink }}"
        rel="nofollow noopener noreferrer" target="_blank" title="Facebook Share">
        <i class="bi bi-facebook"></i>
    </a>
    <a class="btn-share btn-twitter me-2 my-2" href="https://twitter.com/intent/tweet?url={{ .Permalink }}"
        rel="nofollow noopener noreferrer" target="_blank" title="Tweet This">
        <i class="bi bi-twitter"></i>
    </a>
    <a class="btn-share btn-twitter me-2 my-2"
        href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}" rel="nofollow noopener noreferrer"
        target="_blank" title="Linkedin Share"><i class="bi bi-linkedin"></i></a>
</div>