<div class="col mb-2">
    <div class="card-single-item card h-100 border-0 shadow">
        <div class="card-body">
            <a class="d-block" href="{{ .RelPermalink }}">
                <h4 class="product-title mb-2">{{ .Title }}</h4>
                <p class="text-muted">{{ .Summary | truncate 50}}</p>
                {{ if isset .Params "lyric" }}
                <span class="fs-sm text-muted">গীতিকার: </span><span>{{ .Params.lyric }} </span>
                {{ end }}
                {{ if isset .Params "composer" }}
                <br><span class="fs-sm text-muted">সুরকার: </span><span>{{ .Params.composer }} </span>
                {{ end }}
                {{ if isset .Params "singer" }}
                <br><span class="fs-sm text-muted">কণ্ঠ: </span><span>{{ .Params.singer }} </span>
                {{ end }}
                {{ if isset .Params "band" }}
                <br><span class="fs-sm text-muted">ব্যান্ড: </span><span>{{ .Params.band }} </span>
                {{ end }}
            </a>
        </div>
    </div>
</div>