<div id="recentPosts" class="widget">
  <h4 class="widget__title">{{i18n "recentPosts"}}</h4>
  <div class="widget__content">
    <ul class="list-unstyled">
      {{ $i := 0 }}
      {{ range ( first 3 ( where .Site.Pages "Type" "posts" ).ByDate ) }}
      {{ $i = add $i 1 }}
      <li class="py-3 border-top">
        <a class="d-flex align-items-center" href="{{ .Permalink }}">
          <div class="fs-2 me-3 text-secondary">0{{ $i }}</div>
          <div>
            <h5 class="mb-0">{{ .LinkTitle }}</h5>
            {{ with .Params.date }}<span class="d-block fs-6 text-muted">{{ . | dateFormat "January 2, 2006"}}</span>{{end }}
            <span class="d-block fs-6 text-muted">{{i18n "timetoread"}} {{ .ReadingTime }} {{i18n "mintues"}}</span>
          </div>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>