{{ $i := 0 }}
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<div id="relatedPosts">
    {{ $i = add $i 1 }}
    <h4>একই রকম অন্যান্য</h4>
    <ul class="list-unstyled mb-4">
        {{ range . }}
        <li class="py-4 border-top">
            <a class="d-flex align-items-center" href="{{ .Permalink }}">
                <div class="fs-2 me-3 text-secondary">0{{ $i }}</div>
                <div>
                    <h6 class="mb-0">{{ .LinkTitle }}</h6>
                    {{ with .Params.date }}<small class="d-block text-body-secondary">{{ . | dateFormat "January 2, 2006"}}</small>{{ end }}
                    <small class="d-block text-body-secondary">{{i18n "timetoread"}} {{ .ReadingTime }} {{i18n "mintues"}}</small>
                </div>
            </a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}