{{ define "main" }}
<div class="container py-5 mb-lg-3">
	<div class="row justify-content-center pt-lg-4 text-center">
		<div class="col-lg-5 col-md-7 col-sm-9">
			<img alt="404 Error" class="d-block mx-auto mb-5"
				src="https://cdni.iconscout.com/illustration/premium/thumb/error-404-page-illustration-download-in-svg-png-gif-file-formats--line-logo-businessman-team-seo-web-illustrations-2658093.png"
				width="340">
			<h1 class="h3">Error 404</h1>
			<h3 class="h5 fw-normal mb-4">সার্চকৃত শব্দের সাহায্যে কোন ফলাফল খুঁজে পাওয়া যায়নি। অনুগ্রহ করে আরও উপযুক্ত
				বা অর্থপুর্ণ শব্দের মাধ্যমে চেষ্টা করুন কিংবা ভালো করে লক্ষ্য করুন আপনি বানান ঠিকভাবে লিখেছেন কিনা!</h3>
			<a href="{{ .Site.BaseURL | relLangURL }}">মূলপাতায় ফেরত যান</a>
		</div>
	</div>
</div>
{{ end}}