{{ define "head" }}
<script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "{{.Site.Params.meta.name}}",
      "alternateName" : ["ঐশিক", "ঐশিক রেহমান", "Aishik", "Oishik Rehman", "Oishik"],
      "url" : "{{ absLangURL ""}}",
      "potentialAction": [{
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "{{ absLangURL ""}}/search?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }]
    }
</script>
{{ end }}

{{ define "main" }}
<section class="bg-green-5 position-relative overflow-hidden" id="homeHero">
    <div class="container py-10">
        <div class="carousel carousel-dark slide" data-interval="5000" data-bs-ride="carousel" id="QuoteCarousel">
            <ul class="carousel-indicators">
                {{ $lang := .Site.Language.Lang }}
                {{ $quotes := index .Site.Data.quotes $lang }}
                {{ range $index, $quote := $quotes }}
                <li data-bs-slide-to="{{ $index }}" data-bs-target="#QuoteCarousel"
                    class="{{ if eq $index 0 }}active{{ end }}"></li>
                {{ end }}
            </ul>
            <div class="carousel-inner">
                {{ range $index, $quote := $quotes }}
                <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
                    <figure class="text-center">
                        <blockquote class="blockquote fs-3 fw-bold">{{ $quote }}</blockquote>
                        <figcaption class="blockquote-footer text-light">{{ i18n "aishik" }}</figcaption>
                    </figure>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

<section class="container" id="bodyContent">
    <div class="col-lg-9 m-auto py-5">
        <h2 class="text-center py-3">{{i18n "recentPosts"}}</h2>
        {{ $paginatedPages := .Paginate (where .Site.RegularPages "Type" "posts") }}
        {{ range $paginatedPages.Pages }}
        <article class="row border-bottom py-5">
            <div class="col-12 col-md-5">
                <div class="d-flex align-items-center mb-2">
                    {{ with .Params.date }}
                    <span class="dateofpost">{{ . | dateFormat "January 2, 2006" }}</span>
                    {{ end }}
                </div>
                <h5>
                    <a class="fw-bold" href="{{.RelPermalink}}">{{ .Title }}</a>
                </h5>
                {{ with .Params.tags }}
                <div class="fs-6 pe-2 mb-2">
                    {{ range . }}
                    <a class="text-muted border px-2 py-1" href='{{absLangURL "/tags/"}}{{ . | urlize }}'>#{{ . }}</a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <div class="col-12 col-md-7 text-justify">
                {{ .Summary | truncate 400 }}
                {{ if .Truncated }}<a class="text-muted" href="{{ .RelPermalink }}">[{{i18n "readmore"}}]</a>{{ end }}
            </div>
        </article>
        {{ end }}
        <div class="d-flex row-center py-3">{{ template "_internal/pagination.html" . }}</div>
    </div>
</section>
{{ end }}