{{ define "script" }}
<script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "{{.Site.Params.meta.name}}",
      "alternateName" : ["ঐশিক", "ঐশিক রেহমান", "Aishik", "Oishik Rehman", "Oishik"],
      "url" : "{{ absLangURL ""}}",
      "potentialAction": [{
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "{{ absLangURL ""}}/search?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }]
    }
</script>
{{ end }}

{{ define "main" }}
<section id="homeHero">
    <div class="container">
        <div class="row row-center">
            <div class="col-md-5">
                <div class="px-md-5 py-5">
                    <img alt="উদ্ধৃতি ছবি" class="w-100 svg-invert" src="/uploads/Aishik_Rehman.svg">
                </div>
            </div>
            <div class="col-md-7">
                <div class="carousel carousel-dark slide" data-interval="5000" data-bs-ride="carousel"
                    id="QuoteCarousel">
                    <ul class="carousel-indicators">
                        {{ $lang := .Site.Language.Lang }}
                        {{ $quotes := index .Site.Data.quotes $lang }}
                        {{ range $index, $quote := $quotes }}
                        <li data-bs-slide-to="{{ $index }}" data-bs-target="#QuoteCarousel"
                            class="{{ if eq $index 0 }}active{{ end }}"></li>
                        {{ end }}
                    </ul>
                    <div class="carousel-inner">
                        {{ range $index, $quote := $quotes }}
                        <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
                            <figure class="text-center text-md-start">
                                <blockquote class="blockquote fs-4 fw-bold">{{ $quote }}</blockquote>
                                <figcaption class="blockquote-footer">{{ i18n "aishik" }}</figcaption>
                            </figure>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container" id="bodyContent">
    <div class="col-lg-9 m-auto py-5">
        <h2 class="text-center py-3">{{i18n "recentPosts"}}</h2>
        {{ partial "listitem.html" . }}
    </div>
</section>
{{ end }}