---
layout: default
permalink: /c/bengali/
---
<div class="container">
    <div class="row">
        <aside class="col-lg-3">
            <!-- <div class="sidebar">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">
                      <span data-feather="home"></span>
                      Dashboard
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="file"></span>
                      Orders
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="shopping-cart"></span>
                      Products
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="users"></span>
                      Customers
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle show" href="#" id="dropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                      <span data-feather="layers"></span>
                      Reports
                    </a>
                    <ul class="position-relative dropdown-menu" data-popper-placement="bottom-start">
                      <li><a class="dropdown-item" href="#">Report 1</a></li>
                      <li><a class="dropdown-item" href="#">Report 2</a></li>
                      <li><a class="dropdown-item" href="#">Report 3</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="bar-chart-2"></span>
                      Analytics
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="settings"></span>
                      Settings
                    </a>
                  </li>
                </ul>
              </div> -->

              <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">My Sidebar</div>
                <div class="list-group list-group-flush">
                  <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                  <a href="#" class="list-group-item list-group-item-action bg-light">Orders</a>
                  <a href="#" class="list-group-item list-group-item-action bg-light">Products</a>
                  <div class="list-group-item list-group-item-action bg-light dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#collapseReports" aria-expanded="true" aria-controls="collapseReports">
                    Reports
                  </div>
                  <div class="collapse" id="collapseReports">
                    <a href="#" class="list-group-item list-group-item-action bg-light">Report 1</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Report 2</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Report 3</a>
                  </div>
                  <a href="#" class="list-group-item list-group-item-action bg-light">Analytics</a>
                  <a href="#" class="list-group-item list-group-item-action bg-light">Settings</a>
                </div>
              </div>

<!-- 

              <div class="sidebar-sticky">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">
                      <span data-feather="home"></span>
                      Dashboard <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="file"></span>
                      Orders
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="shopping-cart"></span>
                      Products
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="users"></span>
                      Customers
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span data-feather="layers"></span>
                      Reports
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                      <a class="dropdown-item" href="#">Report 1</a>
                      <a class="dropdown-item" href="#">Report 2</a>
                      <a class="dropdown-item" href="#">Report 3</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="bar-chart-2"></span>
                      Analytics
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="settings"></span>
                      Settings
                    </a>
                  </li>
                </ul>
              </div> -->

        </aside>
        <section class="col-lg-9">
            <header id="page-header">
                <h2>Course Outline</h2>
            </header>
            <div>
                <div class="row">
                    {% for unit in site.data.co_bengali %}
                    <div class="col-lg-6">
                        <h3><i class="fa-brands fa-readme"></i> {{ unit.unit }}</h3>
                        <ul>
                            {% for lesson in unit.lessons %}
                            <li><a href="#">{{ lesson.name }}</a></li>
                            {% if lesson.exercises %}
                            <ul>
                                {% for exercise in lesson.exercises %}
                                <li>{{ exercise.name }} </li>
                                <li>{{ exercise.answer }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</div>