<header class="bg-light">
    <div class="navbar navbar-expand-lg navbar-light border-bottom">
        <div class="container">
            <a class="navbar-brand me-4 order-1" href='{{ absLangURL "" }}'>
                <div class="navbar-tool-text ms-n3 d-block position-relative">
                    <span class="h5 fw-bold">{{ .Site.Title }}</span>
                    <span class="d-block ">{{ .Site.Params.subtitle }}</span>
                </div>
            </a>
            <div class="row gap-2 order-2">
                <button class="dropdown btn btn-outline-accent" style="border-radius: 0px;">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-translate"></i> {{.Language.LanguageName }}
                    </a>
                    <ul class="dropdown-menu">
                        {{- $currentlang := .Site.Language.Lang }}
                        {{ range .Site.Languages }}
                        <li><a class="dropdown-item{{ if eq .Lang $currentlang }} active{{ end }}"
                                href="/{{ .Lang }}/">{{ .LanguageName }}</a></li>
                        {{ end }}
                    </ul>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-12">
                    {{- if not (in .RelPermalink "/search/") -}}
                    <form action="{{ .Site.BaseURL}}search/" method="get" class="input-group">
                        <input autocomplete="on" class="search-input form-control" style="border-radius: 0px;" name="q"
                            placeholder="{{ .Site.Params.searchText }}" type="text" value="">
                        <button class="input-group-text btn btn-accent btn-sm" style="border-radius: 0px;"><i
                                class="bi bi-search"></i></button>
                    </form>
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-expand-lg navbar-light border-bottom">
        <div class="container">


            <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
                <ul class="navbar-nav main-links ms-md-auto">
                    {{- $currentPage := . }}
                    {{- range .Site.Menus.main }}
                    {{- $relLangURL := relLangURL .URL }}
                    <li class="nav-item {{ if eq $relLangURL $currentPage.RelPermalink }}active{{ end }}">
                        <a class="nav-link" href='{{ $relLangURL }}'>{{ .Name }}</a>
                    </li>
                    {{- end }}
                </ul>
            </div>
        </div>
    </div>
</header>