<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>
  {% if layout.header != false and page.header != false%}
    {% include header.html %}
  {% endif %}
  <main aria-label="Content">
    {{ content }}
  </main>
  {% if layout.footer != false and page.footer != false%}
    {%- include footer.html -%}
  {%- endif -%}
  {%- if page.scripts != false -%}
    {%- include scripts.html -%}
  {%- endif -%}
  <a class="edit-url"
    href="https://github.com/{{site.github_repo.owner}}/{{site.github_repo.name}}/edit/{{site.github_repo.branch}}/{{ page.path }}"
    hidden></a>
</body>

</html>