---
layout: base
---
{% include seo/breadcrumbs.html %}

<div class="post-hero" {%- if page.image -%} style=" background-image: url('{{ page.image }}');" {%- endif -%}>
  <div class="wrapper pt-50">
    <header class="post-header container page-content">
      <h1 class="post-title p-name">{{ page.title | escape }}</h1>
      <h3>{% include plugins/reading-time.html %}</h3>
      {% if page.lang == 'bn' %}
      <h3>{{ site.bn-author-name}} কর্তৃক লিখিত</h3>
      {% assign date_parts = page.date | date: "%-d/%-m/%Y" | split: "/" %}
      {% assign day = date_parts[0] | replace: "1", "১" | replace: "2", "২" | replace: "3", "৩" | replace: "4", "৪" | replace: "5", "৫" | replace: "6", "৬" | replace: "7", "৭" | replace: "8", "৮" | replace: "9", "৯" | replace: "0", "০" %}
      {% assign month = date_parts[1] | replace: "1", "জানুয়ারী" | replace: "2", "ফেব্রুয়ারী" | replace: "3", "মার্চ" | replace: "4", "এপ্রিল" | replace: "5", "মে" | replace: "6", "জুন" | replace: "7", "জুলাই" | replace: "8", "আগস্ট" | replace: "9", "সেপ্টেম্বর" | replace: "10", "অক্টোবর" | replace: "11", "নভেম্বর" | replace: "12", "ডিসেম্বর" %}
      {% assign year = date_parts[2] | replace: "1", "১" | replace: "2", "২" | replace: "3", "৩" | replace: "4", "৪" | replace: "5", "৫" | replace: "6", "৬" | replace: "7", "৭" | replace: "8", "৮" | replace: "9", "৯" | replace: "0", "০" %}
      {{ day }} {{ month }} {{ year }} তারিখে প্রকাশিত
      {% else %}
      <h3>Written By @{{ site.author.name }}</h3>
      Published on {{ page.date | date: "%B %-d, %Y" }}
      {% endif %}
      <br>categories: {{ page.categories }}
    </header>
  </div>

</div>

<article class="post h-entry container pt-50">
  <!-- <header class="post-header">
    <h1 class="post-title p-name">{{ page.title | escape }}</h1>
  </header> -->

  <div class="page-content e-content">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}
</article>