---
layout: base
---
{% include seo/breadcrumbs.html %}
{% include plugins/reading-time.html %}
<article class="post h-entry container">
  <header class="post-header">
    <h1 class="post-title p-name">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content e-content">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  {% if site.github_repo %}
  {% capture repo_url %}https://api.github.com/repos/{{ site.github_repo.owner }}/{{ site.github_repo.name }}{% endcapture %}
  {% assign authorized_collaborators = site.github | where: "login", site.github_repo.owner | map: "collaborators" | join: "," %}
  {% capture edit_url %}https://github.com/{{ site.github_repo.owner }}/{{ site.github_repo.name }}/edit/main/{{ page.path }}{% endcapture %}
  {% if site.github and page.path %}
    {% assign authorized = false %}
    {% for collaborator in authorized_collaborators %}
      {% if collaborator == site.github.login %}
        {% assign authorized = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if authorized %}
      <a href="{{ edit_url }}" target="_blank">Edit post</a>
    {% endif %}
  {% endif %}
{% endif %}
</article>
